<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>裁剪任务</title>
    <link rel="stylesheet" href="/library/style/font-awesome.css"/>
    <link rel="stylesheet" href="/library/style/elementui2.4.11.css"/>
    <link rel="stylesheet" href="/library/style/cssreset3.css"/>
    <link rel="stylesheet" href="/style/list.css"/>
</head>
<body>
<div class="outFrame" id="app">
    <div class="main">
        <div class="searchBar">
            <span class="rexBlockCheck" color="warning"><input type="radio" v-model="search.listType" value="doing" name="listType"/><label>待处理</label></span>
            <span class="rexBlockCheck" color="warning"><input type="radio" v-model="search.listType" value="finished" name="listType"/><label>已完成</label></span>
            <div class="equipment">登录：<strong>{{username}}</strong></div>
        </div>
        <el-table :data="mission" :height="UI.listHeight" border stripe>
            <el-table-column label="#" width="40">
                <template slot-scope="scope">{{scope.$index+1}}</template>
            </el-table-column>
            <el-table-column prop="product_code" label="商品编号" width="140"></el-table-column>
            <el-table-column prop="bolt_no" label="批号" width="180"></el-table-column>
            <el-table-column prop="purchaser" label="收件人"></el-table-column>
            <el-table-column prop="length" label="裁剪米数" width="100"></el-table-column>
            <el-table-column prop="position" label="仓库/仓位"></el-table-column>
            <el-table-column prop="current_length" label="库存米数" width="100"></el-table-column>
            <el-table-column prop="catalog" label="类型" width="80"></el-table-column>
            <el-table-column label="操作" width="100">
                <template slot-scope="scope">
                    <el-button @click="openDetails(scope.row.bolt_id)">详情</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- 详细页 -->
    <div class="extPage missionDetails" id="opDetails">
        <div class="dialogFrame">
            <div class="dialog-title">
                <span class="right opBtn btn-close">&times;</span>
                <h4><span class="fa fa-cut"></span> 裁剪任务详细</h4>
            </div>
            <div class="dialog-content">
                <div class="leftPart">
                    <h3>裁剪布段</h3>
                    <ul class="viewList nohead" v-if="editObject">
                        <li v-for="item in editObject.splits" :class="{sel:item.bolt_id===editObject.viewObj.bolt_id}" @click="setViewObject(editObject, item.bolt_id); redrawClothBlock();">
                            <span class="status" :class="getTypeString(item)"></span>
                            <span class="length">裁剪<b>{{item.cut_length}}</b>米</span>
                            <strong>{{item.bolt_no}}</strong>
                        </li>
                    </ul>
                </div>
                <div class="rightPart">
                    <h3>布匹基本资料</h3>
                    <ul class="baseInfo nohead" v-if="editObject">
                        <li><label>商品编号：</label><span>{{editObject.product}}</span></li>
                        <li><label>批&emsp;&emsp;号：</label><span>{{editObject.bolt}}</span></li>
                        <li><label>当前仓位：</label><span>{{editObject.position}}</span></li>
                        <li class="showLength">
                            <div><label>当前布匹米数：</label><span>{{editObject.viewObj.current_length}}米</span></div>
                        </li>
                    </ul>
                    <h3>当前裁剪概览</h3>
                    <div class="clothShow" v-if="editObject">
                        <div class="cloth" id="cloth">
                            <span class="nowBlock" :class="{disabled:editObject.viewObj.bolt_id!==editObject.first}"></span>
                            <span class="clip fa fa-cut" :class="{'hidden':editObject.viewObj.bolt_id!==editObject.first}"></span>
                            <span class="flaw" v-for="(item,index) in editObject.defects" :index="index+1" :start="item.start" :end="item.end"></span>
                        </div>
                        <div class="ruler" id="ruler">
                            <span v-for="item in getMark" :pos="item"></span>
                        </div>
                    </div>
                    <h3>裁剪操作</h3>
                    <div class="operateShow" v-if="editObject">
                        <div class="operate">
                            <span class="status" :class="getTypeString(editObject.viewObj)"></span>
                            <span class="title">当前裁剪 <b>{{editObject.viewObj.cut_length}}</b> <span>米</span></span>
                            <ul class="elseInfo nohead" v-if="getTypeString(editObject.viewObj)==='customer'">
                                <li><label>客户信息：</label><span>{{editObject.viewObj.purchaser}}</span></li>
                                <li><label>订货长度：</label><span>{{editObject.viewObj.order_length}}</span></li>
                                <li><label>备注信息：</label><span>无</span></li>
                            </ul>
                            <ul class="elseInfo" v-if="getTypeString(editObject.viewObj)!=='customer'">
                                <li class="center">当前为疵点处理或者分裁入库</li>
                            </ul>
                        </div>
                        <div class="operateButton">
                            <div class="buttonList">
                                    <span class="component">
                                        <button class="rexButton" color="info"><span class="fa fa-tag"></span><span>新疵点</span></button><button class="rexButton" color="info"><span class="fa fa-edit"></span><span>布长修正</span></button>
                                    </span><span class="component">
                                        <button class="rexButton" color="info"><span class="fa fa-barcode"></span><span>打印编号</span></button><button class="rexButton" color="info" :disabled="editObject.viewObj.bolt_id!==editObject.first" @click="askFinish()"><span class="fa fa-check-square-o"></span><span>完成裁剪</span></button>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="elseList" v-if="editObject">
                        <div class="flawList">
                            <h3>疵点列表</h3>
                            <el-table :data="editObject.defects" :height="UI.bottomListHeight">
                                <el-table-column label="#" width="40">
                                    <template slot-scope="scope">{{scope.$index+1}}</template>
                                </el-table-column>
                                <el-table-column label="位置">
                                    <template slot-scope="scope">
                                        <span class="lenShow">{{scope.row.start}}</span> ~ <span class="lenShow">{{scope.row.end}}米</span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="长度">
                                    <template slot-scope="scope">
                                        {{scope.row.length}}米</span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="type" label="类型"></el-table-column>
                            </el-table>
                        </div>
                        <div class="operateList">
                            <h3>操作记录</h3>
                            <el-table :data="editObject.cutouts" :height="UI.bottomListHeight">
                                <el-table-column prop="date" label="日期"></el-table-column>
                                <el-table-column prop="name" label="姓名"></el-table-column>
                                <el-table-column label="处理">
                                    <template slot-scope="scope">
                                        裁剪 {{scope.row.length}} 米，生成 {{scope.row.bolt_no}}
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ajax加载提示框 -->
    <div class="extDialog" id="loading" noclick="noclick">
        <div class="dialogFrame">
            <div class="dialog-content">
                <div class="loadingBlock"><div></div><div></div><div></div><div></div><div></div></div> <span class="diy">正在加载数据，请稍等...</span>
            </div>
        </div>
    </div>

    <!-- ajax出错信息提示 -->
    <div class="extDialog" id="information" noclick="noclick">
        <div class="dialogFrame">
            <div class="dialog-title"><h4>系统信息提示</h4></div>
            <div class="dialog-buttonBar">
                <button class="rexButton opBtn btn-cancel">取消</button>
                <button class="rexButton opBtn btn-sure">确定</button>
            </div>
            <div class="dialog-content">
                <div class="diy"></div>
            </div>
        </div>
    </div>

    <div class="miniDialog bottom" id="resultShow">
        <div class="dialog-content">
            <span class="diy"></span>
        </div>
    </div>
</div>
<script src="/library/js/jquery.min.js"></script>
<script src="/library/js/vue.min.js"></script>
<script src="/library/js/rexfunction.js"></script>
<script src="/library/js/rexajax2.js"></script>
<script src="/library/js/rexdialog.js"></script>
<script src="/library/js/elementui2.4.11.js"></script>
<script src="/script/configBG.js"></script>
<script src="/script/missioncut.js"></script>
</body>
</html>