@charset "UTF-8";
@import '../library/style/config2.scss';

$color1: #336666;
$color2: #669999;
$color3: #cccc99;
$color4: #069393;

@keyframes focusShow{  //晃动聚焦动画
  0% { transform: translateX(0);}
  12% {transform: translateX(-10px);}
  24% { transform: translateX(10px);}
  36% { transform: translateX(-10px);}
  48% { transform: translateX(10px);}
  60% { transform: translateX(-10px);}
  72% { transform: translateX(10px);}
  84% { transform: translateX(-10);}
  96% { transform: translateX(10);}
  100% { transform: translateX(0);}
}

// ---------- 公用部分 --------------------
.outFrame { overflow: hidden; width: 100%; height: 100%;}
.main {  width: 100%; height: 100%; padding: 10px;}

.searchBar { padding-bottom: 10px;}

.equipment { float: right; margin-top: 15px;}

/* 表格样式 */
.el-table th { background: $color2; color: #fff;}
.el-table--striped .el-table__body tr.el-table__row--striped td { background: #e8f9f9;}
.el-table--striped .el-table__body tr.el-table__row:hover td { background: #f6f6d9;}
.el-table--striped .el-table__body tr.el-table__row.sel td { background: #f90; color: #fff;}

//详细页面样式
#opDetails{
  .dialog-title{
    background:$color4 linear-gradient(rgba(255,255,255,.3) 0, transparent 15px);
    h4{ font-size:16px; color:rgba(255,255,255,.9);}
    .opBtn{
      font-size:28px; color:$color3;
      &:hover,&:active{ color:red;}
    }
  }
  &.extMenu .dialogFrame{ width:90%;}
}

//操作弹框
.doing{
  .dialog-title{
    background:$color2 linear-gradient(rgba(255,255,255,.05) 0, transparent 15px);
    h4{ font-size:16px; color:rgba(255,255,255,.9);}
    h4 .fa{ font-size:22px; vertical-align:middle; margin-right:5px;}
  }
  .dialog-content{ padding:15px; }
  .row{ padding:5px; padding-left:20%; text-align:left;}
  label{ color:#999; display:inline-block; width:120px; text-align:right; margin-right:10px;}
  label+span{
    display:inline-block;
    b{ color:red; font-size:1.4em;}
  }
  .rexInput{ font-size:1.4em; width:120px;}
  .dialog-buttonBar{
    background:#8ed2d2 repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 12px, transparent 0, transparent 24px);
    .rexButton{ width:100px;}
  }
  .doingShow span{ margin:10px auto 0 auto; display:inline-block; padding:8px 5px; border:1px solid #ccc; text-align:center; min-width:60%;}
  .doingShow .ok{ border-color:#66cc66; color:#009900; background:#f2fff2;}
  .doingShow .warning{ border-color:#ff9900; color:#ff9900; background:#fff8e9;}
  .doingShow .error{ border-color:#f02a2a; color:#f02a2a; background:#fff4f4;}
  .doingShow .loading{ border-color:transparent; color:#666; background:transparent;}
}

//加载弹框
#loading .dialog-content{ padding:15px;}

//信息提示弹框
#information .dialog-content{ padding:15px;}

.missionDetails {
  h3 { font-size: 16px; color: $color4; line-height: 30px;}
}

.leftPart{
  width:190px; float:left; height:100%; padding:0 5px 0 5px; background:#f0f0f0;
  .viewList{ overflow:auto;}
  li{ border:1px solid #ccc; margin-bottom:5px; padding:5px 5px 0 5px; overflow:hidden; font-size:12px; cursor:pointer; background:#fff; border-radius:4px; transition-property: background-color, border-color; transition-duration: .3s;}
  li:hover, li:active{ background:#cefbfb; border-color:$color1;}
  li:hover strong, li:active strong{ border-color:$color1;}
  li.sel{ background:#ffedce; border-color:#f90;}
  li.sel strong{ border-color:#f90;}
  strong{ line-height:30px; display:block; border-top:1px solid #eee; font-weight:normal; text-align:center; margin-top:5px; transition-property: border-color; transition-duration: .3s;}
  .status{ display:inline-block;}
  .length{
    float:right; color:#999;
    b{ font-size:14px; color:red; font-weight:normal; margin:0 2px;}
  }
}
.rightPart{ width:auto; margin-left:190px; height:100%; padding:0 10px 0 10px;}
.inPart{ padding:10px; width:100%; height:100%;}

//裁剪端分类
.status{
  line-height:1.8em; padding:0 0.5em;
  &:before{ color:#fff;}
  &.customer{
    background:$color4;
    &:before{ content:'客户订单';}
  }
  &.flaw{
    background:#666;
    &:before{ content:'疵点切割';}
  }
  &:normal{
    background:blue;
    &:before{ content:'分裁入库';}
  }
}

//基础信息展示
.baseInfo{
  background: linear-gradient(transparent 29px, #ccc 0, #ccc 30px); background-size:100% 30px; overflow:hidden; margin-bottom:10px;
  li{ float:left; width:25%; min-width:240px; line-height:30px;}
  label{ color:#999; margin-right:5px;}
  .showLength{ width:100%; background:#f2f2f2; border-bottom:1px solid #ccc; text-align:center;}
  .showLength>div{ display:inline-block; width:20%;}
}

//布匹概览
.clothShow{ margin:24px 0 32px 0;}
.cloth{
  box-shadow:0 0 0 1px #ccc inset; background:#eee; background:#eee repeating-linear-gradient(45deg, rgba(255,255,255,.6) 0, rgba(255,255,255,.6) 10px, transparent 0, transparent 20px); width:100%; height:50px; position:relative;
  .flaw{ position:absolute; background:#000; top:0; bottom:0; transition-property: left,right; transition-duration: 1s;}
  .flaw:after{ content:attr(index); position:absolute; height:20px; line-height:20px; padding:0 3px; background:#000; color:#fff; top:-21px; left:50%; transform: translateX(-50%); font-size:12px; border-radius:2px; cursor:pointer;}
  .flaw:hover{ background:#f90; }
  .flaw:hover:after{ background:#f90;}
  .nowBlock{ background:rgba(8,142,144,.6); color:#fff; border:2px dashed $color4; position:absolute; right:10%; width:100px; top:0; bottom:0; z-index:1; transition-property: left,right; transition-duration: 1s;}
  .nowBlock.disabled{ background:rgba(155,155,155, .6); border-color:#ccc; }
  .clip{ width:1px; background:red; color:red; position:absolute; top:-3px; bottom:-10px; right:20%; z-index: 2; transition-property: left,right; transition-duration: 1s;}
  .clip:before{ position:absolute; bottom:-20px; transform:rotate(-90deg) translateY(-50%); font-size:20px; left:50%;}
  .clip.hidden{ visibility: hidden;}
}
.ruler{
  height:2px; background:#ccc; position:relative;
  span{ position:absolute; top:2px; height:6px; width:1px; text-align:center; background:#ccc; font-size:12px; color:#666;}
  span:before{ content:attr(pos); position:absolute; top:10px; left:50%; transform:translateX(-50%);}
}

.operateShow { width: 100%; height: 150px; overflow: hidden;}
//当前裁剪信息
.operate {
  width: 50%; height: 100%; border: 3px solid $color4; padding:0 10px 10px 10px; float: left; text-align:center; position:relative;
  .status{ float:left; font-size:14px; margin-top:10px;}
  .title {
    font-size:16px; display:inline-block; padding-bottom:10px;
    b{ position:relative; top:10px; font-size:50px; color:red; vertical-align: text-bottom; font-weight:normal; }
  }
  .elseInfo {
    border-top: 1px solid #ccc; overflow:hidden; text-align:left; padding-top:5px;
    li{ width:50%; float:left; padding:5px 0;}
    li:last-child{ width:100%;}
    li.center{ text-align:center; padding-top:15px; color:$color1;}
    label {color: #999;}
  }
  .maskShow{
    position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(255,255,255,.6); text-align:center;
    &:before{ content:''; display:inline-block; height:100%; vertical-align:middle;}
    span{ display:inline-block; vertical-align:middle; color:#fff; padding:5px 10px; background:rgba(251,124,0,.7); box-shadow:0 0 5px rgba(0,0,0,.4); visibility: hidden;}
    span.focus{ animation:focusShow 1s forwards; visibility: visible;}
  }
}

//当前检验信息
.checkOperate{
  border:3px solid $color4; width: 100%; height: 100px; overflow: hidden;
  &:before{ content:''; display:inline-block; height:100%; vertical-align:middle;}
  .checkOverview{
    display:inline-block; width:50%; padding:10px; vertical-align:middle;
    &>span{ display:inline-block; vertical-align:middle; margin-right:10px; white-space:nowrap;}
    strong{ font-size:20px; color:red; font-weight:normal;}
  }
  .operateButton{
    float:right;
  }
}

//裁剪操作按钮
.operateButton {
  float: left; width: 50%; height: 100%; background: #eee; text-align: center;
  &:before {
    content: ''; display: inline-block; height: 100%; width: 0; overflow: hidden; vertical-align: middle;
  }
}
.buttonList{
  display:inline-block; vertical-align: middle; text-align:left;
  .component {
    display: inline-block; vertical-align: middle; white-space: nowrap;
  }
  .rexButton {
    height: 60px; width: 80px; padding: 0; margin: 5px; text-align: center;
    span {
      display: block;  font-size: 14px; width: 100%;
    }
    .fa {
      font-size: 30px;
    }
    .fa:before {
      position: static;
    }
  }
}

.elseList{ margin-top:10px; width:100%; overflow:hidden;}
.flawList{ padding-right:5px; width:50%; float:left;}
.operateList{ float:left; width:50%; padding-left:5px;}