@charset "UTF-8";
@keyframes focusShow { 0% { transform: translateX(0); }
  12% { transform: translateX(-10px); }
  24% { transform: translateX(10px); }
  36% { transform: translateX(-10px); }
  48% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  72% { transform: translateX(10px); }
  84% { transform: translateX(-10); }
  96% { transform: translateX(10); }
  100% { transform: translateX(0); } }
.outFrame { overflow: hidden; width: 100%; height: 100%; }

.main { width: 100%; height: 100%; }

.titleBar { height: 44px; background: #eee; text-align: right; color: #202020; }
.titleBar h1 { background: #999; color: rgba(255, 255, 255, 0.8); font-size: 14px; font-weight: normal; }
.titleBar .itemButton { float: left; line-height: 44px; padding: 0 15px; font-size: 14px; text-align: center; color: #666; }
.titleBar .itemButton.sel { background: #069393; color: #fff; }
.titleBar .itemButton:before { font-size: 16px; vertical-align: middle; margin: 0 5px; }
.titleBar h1.itemButton { color: #fff; }
.titleBar .userInfo, .titleBar .eqStatus { font-size: 12px; line-height: 44px; display: inline-block; }
.titleBar .userInfo:before, .titleBar .eqStatus:before { font-size: 16px; margin-right: 3px; vertical-align: middle; color: #999; }
.titleBar .userInfo { margin-right: 15px; }
.titleBar .eqStatus { margin-right: 7px; position: relative; }
.titleBar .eqStatus:after { content: ''; position: absolute; top: 10px; right: -1px; width: 6px; height: 6px; border-radius: 50%; background: #aaa; }
.titleBar .eqStatus.on:after { background: #37e501; }
.titleBar .eqStatus.off:after { background: red; }

/* 标题下拉菜单 */
.dropItemShow { position: relative; width: 50px; }
.dropItemShow ul { position: absolute; top: 44px; right: 0; max-height: 0; z-index: 10; overflow: hidden; width: 162px; transition-property: max-height; transition-duration: .3s; opacity: .9; }
.dropItemShow li { display: block; line-height: 28px; border-bottom: 1px solid #fff; background: #336666; color: #fff; text-align: center; padding: 5px; }
.dropItemShow li:before { font-size: 16px; margin-right: 5px; }
.dropItemShow li:hover, .dropItemShow li:active { background: #cccc99; color: #336666; }
.dropItemShow:hover, .dropItemShow:active { background: #336666; color: #fff; }
.dropItemShow:hover ul, .dropItemShow:active ul { max-height: 300px; background: #3a8ee6; }

/* 表格样式 */
.el-table th { padding: 6px 0; }
.el-table th:first-child { text-align: center; }
.el-table th:last-child { text-align: center; }
.el-table td { padding: 6px 0; color: #333; }
.el-table td .opButton { font-size: 20px; color: #069393; display: inline-block; padding: 5px; border-radius: 6px; cursor: pointer; }
.el-table td .opButton:hover, .el-table td .el-table td .opButton:active { background: #069393; color: #fff; }
.el-table td .opButton:before { display: inline-block; }
.el-table td .opButton.fa-cut:before { transform: rotate(-90deg); }
.el-table td:first-child { text-align: center; }
.el-table td:last-child { text-align: center; }
.missionList .el-table th:nth-child(2) { text-align: center; }
.missionList .el-table td:nth-child(2) { text-align: center; }
.el-table .cell { padding-left: 3px; padding-right: 3px; }
.el-table .el-checkbox__inner { width: 18px; height: 18px; }
.el-table .el-checkbox__inner::after { left: 6px; top: 3px; }
.el-table .urgent { position: relative; padding-left: 15px; }
.el-table .urgent:before { color: red; font-size: 16px; position: absolute; left: -3px; top: 3px; }
.el-table .positionItem { white-space: nowrap; margin: 0 1px; }
.el-table .positionItem:after { content: ','; }
.el-table .positionItem:last-child:after { content: ''; }
.el-table .datetime { word-break: break-all; line-height: 1.2em; font-size: 12px; }
.el-table .datetime span { white-space: nowrap; margin: 0 1px; }
.el-table .datetime span:after { content: ' '; }
.el-table .datetime span:last-child:after { content: ''; }
.el-table .boltNumber .cell { overflow: visible; }
.el-table .boltNumber .fa { position: relative; }
.el-table .boltNumber .fa:before { position: absolute; top: 0; left: -12px; }
.el-table .boltNumber .fa.yes:before { content: '\f05d'; color: green; }
.el-table .boltNumber .fa.no:before { content: '\f05c'; color: red; }
.el-table .el-table__expanded-cell { padding: 0 10px 10px 10px; background-color: #aaa; }
.el-table .el-table__expand-icon { font-size: 18px; }
.el-table .lineHeightShow { line-height: 36px; }

.rexTable th { background: #3679de; color: #fff; padding: 6px 0; }
.rexTable td { padding: 2px 0; text-align: center; }
.rexTable tr:nth-child(odd) { background: #e3eeff; }
.rexTable tr:nth-child(even) { background: #d1e3fe; }
.rexTable .opButton { font-size: 20px; color: #069393; display: inline-block; padding: 5px; border-radius: 6px; cursor: pointer; }
.rexTable .opButton:hover, .rexTable .el-table td .opButton:active { background: #069393; color: #fff; }
.rexTable .opButton:before { display: inline-block; }
.rexTable .opButton.fa-cut:before { transform: rotate(-90deg); }

.el-table--striped .el-table__body tr.el-table__row--striped td { background: #e8f9f9; }
.el-table--striped .el-table__body tr.el-table__row:hover td { background: #f6f6d9; }
.el-table--striped .el-table__body tr.el-table__row.sel td { background: #f90; color: #fff; }

.el-pagination { text-align: center; margin-top: 10px; }

.mydetails .dialogFrame { box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.mydetails .dialog-title { background: #336666; border-bottom: 0; }
.mydetails .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
.mydetails .dialog-title .opBtn:hover, .mydetails .dialog-title .opBtn:active { color: red; }
.mydetails .dialog-title ul { padding-left: 20px; }
.mydetails .dialog-title li { float: left; line-height: 42px; color: rgba(255, 255, 255, 0.6); margin-right: 15px; }
.mydetails .dialog-title label { color: #fff; }
.mydetails .dialog-title .passStatus { display: block; color: #fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius: 6px; background: #999; }
.mydetails .dialog-title .passStatus.yes { background: green; }
.mydetails .dialog-title .passStatus.no { background: red; }
.mydetails.extMenu .dialogFrame { height: calc(100% - 44px); }

.doing .dialog-title { background: #669999 linear-gradient(rgba(255, 255, 255, 0.05) 0, transparent 15px); }
.doing .dialog-title h4 { font-size: 16px; color: rgba(255, 255, 255, 0.9); }
.doing .dialog-title h4 .fa { font-size: 22px; vertical-align: middle; margin-right: 5px; }
.doing .dialog-content { padding: 15px; }
.doing .row { padding: 5px; padding-left: 20%; text-align: left; }
.doing label { color: #999; display: inline-block; width: 120px; text-align: right; margin-right: 10px; }
.doing label + span { display: inline-block; padding-left: 5px; }
.doing label + span b { color: red; font-size: 1.4em; }
.doing .inputShow { vertical-align: middle; position: relative; padding-left: 0; }
.doing .inputShow strong { position: absolute; right: 10px; top: 10px; color: #999; font-weight: normal; }
.doing .rexInput { font-size: 1.4em; width: 120px; }
.doing .dialog-buttonBar { background: #8ed2d2 repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 12px, transparent 0, transparent 24px); }
.doing .dialog-buttonBar .rexButton { width: 100px; }
.doing .doingShow span { margin: 10px auto 0 auto; display: inline-block; padding: 8px 5px; border: 1px solid #ccc; text-align: center; min-width: 60%; }
.doing .doingShow .ok { border-color: #66cc66; color: #009900; background: #f2fff2; }
.doing .doingShow .warning { border-color: #ff9900; color: #ff9900; background: #fff8e9; }
.doing .doingShow .error { border-color: #f02a2a; color: #f02a2a; background: #fff4f4; }
.doing .doingShow .loading { border-color: transparent; color: #666; background: transparent; }

#information .dialog-content strong { color: red; }

#loading .dialog-content { padding: 15px; }

.missionDetails h3 { font-size: 14px; color: #069393; line-height: 28px; position: relative; padding-left: 16px; }
.missionDetails h3:before { content: ''; width: 10px; height: 10px; position: absolute; top: 8px; left: 0; background: #069393; }

.leftPart { width: 175px; float: left; height: 100%; background: #336666; }
.leftPart .viewList { overflow: auto; height: 100%; }
.leftPart li { padding: 3px 3px 8px 3px; overflow: hidden; font-size: 12px; cursor: pointer; background-color: #069393; color: #fff; border-bottom: 1px solid #336666; }
.leftPart li:hover, .leftPart li:active { background-color: #19bbbb; }
.leftPart strong { line-height: 24px; font-weight: normal; position: relative; padding-left: 10px; }
.leftPart strong:before { color: red; position: absolute; top: 0; left: 0; font-size: 14px; }
.leftPart .statusBar { padding-left: 10px; }
.leftPart .statusBar span { display: inline-block; color: rgba(255, 255, 255, 0.8); }
.leftPart .length { background: #f90; margin-left: 5px; }
.leftPart .length:after { content: '米'; }
.leftPart .finished { background: green; }
.leftPart li.freeDo { font-size: 16px; text-align: center; padding: 12px 0; }
.leftPart li.sel { background-color: #fff; border-bottom: 0; }
.leftPart li.sel strong { color: #333; }
.leftPart li.sel span:first-child { color: #666; }
.leftPart li.freeDo.sel { color: #333; }

.rightPart { width: auto; margin-left: 175px; height: 100%; padding: 0 10px 0 10px; }

.leftPart.pinch { width: 20px; }
.leftPart.pinch + .rightPart { margin-left: 20px; }

.status { line-height: 1.8em; padding: 0 0.5em; }
.status:before { color: #fff; }
.status.customer { background: #005be3; }
.status.customer:before { content: '客户订单'; }
.status.flaw { background: #666; }
.status.flaw:before { content: '疵点分裁'; }
.status.normal { background: blue; }
.status.normal:before { content: '分裁入库'; }

.baseInfo { background: linear-gradient(transparent 29px, #ccc 0, #ccc 30px); background-size: 100% 30px; overflow: hidden; margin-bottom: 10px; }
.baseInfo li { float: left; line-height: 30px; padding-right: 20px; }
.baseInfo label { color: #999; }
.baseInfo .showLength { width: 100%; background: #f2f2f2; border-bottom: 1px solid #ccc; text-align: center; }
.baseInfo .showLength > div { display: inline-block; width: 20%; }

.clothShow { margin: 24px 0 32px 0; width: calc(100% - 55px); position: relative; padding-left: 10px; }
.clothShow .changePosition { position: absolute; right: -55px; top: 0; height: 100%; width: 50px; border-radius: 0; }
.clothShow .changePosition .fa:before { font-size: 30px; }

.cloth { box-shadow: 0 0 0 1px #ccc inset; background: #eee; background: #eee repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); width: 100%; height: 50px; position: relative; }
.cloth .flaw { position: absolute; background: #000; top: 0; bottom: 0; transition-property: left,right; transition-duration: 1s; min-width: 1px; }
.cloth .flaw:after { content: attr(index); position: absolute; height: 20px; line-height: 20px; padding: 0 3px; background: #000; color: #fff; top: -21px; left: 50%; transform: translateX(-50%); font-size: 12px; border-radius: 2px; cursor: pointer; }
.cloth .flaw:hover { background: #f90; z-index: 2; }
.cloth .flaw:hover:after { background: #f90; }
.cloth .clip { width: 1px; position: absolute; top: -5px; bottom: -5px; background: red; z-index: 10; transition-property: left,right; transition-duration: 1s; }
.cloth .clip:before, .cloth .clip:after { content: ''; position: absolute; border: 9px solid transparent; width: 0; height: 0; overflow: hidden; left: 50%; transform: translateX(-50%); opacity: .8; }
.cloth .clip:before { border-top-color: red; top: -5px; }
.cloth .clip:after { border-bottom-color: red; bottom: -5px; }
.cloth .cutBlock { position: absolute; top: 1px; bottom: 1px; outline: 1px dashed rgba(0, 0, 0, 0.3); outline-offset: -1px; }
.cloth .cutBlock.sel { outline-color: #f90; background: rgba(255, 153, 0, 0.2); }
.cloth .cutBlock.first { outline-color: #069393; background: #fff repeating-linear-gradient(-45deg, rgba(6, 147, 147, 0.3) 0, rgba(6, 147, 147, 0.3) 10px, transparent 0, transparent 20px); }
.cloth .endShow { position: absolute; z-index: 3; text-shadow: 0 0 2px #fff; top: 50%; transform: translateY(-50%); font-weight: bold; }
.cloth .leftCloth { left: 0; right: 0; color: #069393; text-align: center; line-height: 48px; background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); }
.cloth .qualified { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 16px; background: rgba(255, 255, 255, 0.6); padding: 3px 20px; border-radius: 2px; }
.cloth .qualified.yes { color: green; border: 1px solid green; }
.cloth .qualified.no { color: red; border: 1px solid red; }

.ruler { height: 2px; background: #ccc; position: relative; }
.ruler span { position: absolute; top: 2px; height: 6px; width: 1px; text-align: center; background: #ccc; font-size: 12px; color: #666; }
.ruler span:before { content: attr(pos); position: absolute; top: 10px; left: 50%; transform: translateX(-50%); }

.clothShow.zero .cloth { width: 50%; margin: auto; text-align: center; }
.clothShow.zero .cloth:before { content: '布匹长为零!'; color: red; line-height: 48px; }

.clothShow.zero .ruler { width: 50%; margin: auto; }

.operateShow { width: 100%; height: 80px; overflow: hidden; }

.operate { display: inline-block; min-width: 260px; width: 50%; padding-left: 20px; vertical-align: middle; text-align: center; }
.operate .counter { display: inline-block; position: relative; font-family: arial; color: #3273c3; font-size: 70px; }
.operate .counter:after { content: '米'; position: absolute; top: .6em; left: 100%; font-size: 14px; color: #999; }
.operate .iconShow { font-size: 20px; color: #999; position: absolute; top: .6em; left: -1.2em; }
.operate .nowCut { font-size: 16px; color: #666; position: absolute; bottom: .6em; left: 100%; }
.operate .nowCut:before { content: '/'; margin-right: 3px; }

.inPart { padding: 5px; }

.checkOperate { width: 100%; height: 100px; overflow: hidden; }
.checkOperate .checkOverview { border: 3px solid #069393; height: 100%; width: 50%; float: left; }
.checkOperate .checkOverview:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.checkOperate .inshow { display: inline-block; padding: 10px; vertical-align: middle; }
.checkOperate .inshow > span { display: inline-block; vertical-align: middle; margin-right: 10px; white-space: nowrap; }
.checkOperate .inshow strong { font-size: 20px; color: red; font-weight: normal; }
.checkOperate .operateButton { float: right; }

.buttonList { display: inline-block; width: 50%; height: 100%; text-align: center; vertical-align: middle; }
.buttonList ul { display: table; width: 100%; height: 100%; }
.buttonList li { display: table-cell; vertical-align: middle; }
.buttonList .rexButton { height: 100%; width: 100%; padding: 0; text-align: center; border-radius: 0; border-left: 1px solid rgba(0, 0, 0, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); }
.buttonList .rexButton span { display: block; font-size: 14px; width: 100%; }
.buttonList .rexButton .fa { font-size: 30px; margin-bottom: 10px; }
.buttonList .rexButton .fa:before { position: static; }

.buttonList.type2 .rexButton { width: 16.5%; }

.elseList { margin-top: 10px; width: 100%; overflow: hidden; }
.elseList h3 { border-bottom: 1px solid #ddd; font-size: 14px; color: #069393; line-height: 24px; }
.elseList ul { width: 100%; overflow: auto; height: calc(100% - 30px); }
.elseList li { border-bottom: 1px dashed #ccc; position: relative; padding: 12px 0; overflow: hidden; }
.elseList li .index { float: left; background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, transparent 16px); line-height: 20px; color: #fff; padding: 0 10px; }
.elseList li .block { background-color: #3050c6; }
.elseList li .point { background-color: #cc1f1f; border-radius: 10px; }
.elseList li .showtext { display: inline-block; font-size: 12px; }
.elseList li label { color: #999; margin-left: 10px; }
.elseList li b { font-size: 14px; color: #069393; font-weight: normal; }
.elseList li.cutRecord { text-align: right; }
.elseList li .datetime { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 45%; min-width: 80px; text-align: left; color: #666; }
.elseList li .op { display: inline-block; max-width: 55%; text-align: left; }
.elseList li .opButton { position: absolute; right: 0; top: 7px; font-size: 30px; line-height: 30px; height: 30px; color: red; width: 30px; border-radius: 6px; text-align: center; cursor: pointer; }
.elseList li .opButton:hover, .elseList li .opButton:active { background: red; color: #fff; }
.elseList li .nodata { display: block; text-align: center; padding: 15px 0; color: #999; }

.flawList { padding-right: 5px; width: 50%; float: left; height: 100%; }

.operateList { padding-left: 5px; width: 50%; float: left; height: 100%; }

#printBox .dialog-title { background: #336666; }
#printBox .dialog-title h4 { font-size: 16px; color: #fff; }
#printBox .dialog-title h4 .fa:before { font-size: 22px; vertical-align: middle; }
#printBox .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
#printBox .dialog-title .opBtn:hover, #printBox .dialog-title .opBtn:active { color: red; }
#printBox .dialog-content { padding: 15px; }
#printBox .dialog-content .rexButton { width: 140px; height: 60px; margin: 10px; }
#printBox .dialog-content .rexButton .fa { font-size: 20px; }
#printBox .dialog-content b { color: #f90; font-weight: normal; }

.leftClothInfo { padding-top: 10px; text-align: center; }
.leftClothInfo > span { color: #666; margin-right: 20px; }
.leftClothInfo > span strong { color: #069393; font-size: 18px; }
.leftClothInfo .rexButton strong { color: #f90; font-weight: normal; }
.leftClothInfo .rexButton .fa:before { font-size: 18px; }

.searchBar { padding: 10px 0; text-align: center; }
.searchBar .el-select { width: 150px; }
.searchBar .el-select:first-child { width: 105px; }

.numberSearch, .numberSearchButton { width: 180px; -webkit-appearance: none; background-color: #fff; background-image: none; border-radius: 4px; border: 1px solid #dcdfe6; box-sizing: border-box; color: #606266; display: inline-block; font-size: inherit; height: 40px; line-height: 40px; outline: none; padding: 0 15px; transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }

.quickPart { position: relative; padding-top: 200px; }

.searchPartShow { width: 100%; height: calc(100% + 200px); margin-top: -200px; position: relative; transition-property: height; transition-duration: .5s; }

.searchResultShow { width: 100%; height: 0; overflow: hidden; transition-property: height,hidden; transition-duration: .5s; }

.searchPartShow.showList { height: 200px; }

.searchPartShow.showList + .searchResultShow { height: 100%; overflow: auto; padding: 1px; }

.fillBar { position: absolute; top: 35%; left: 50%; transform: translateX(-50%); white-space: nowrap; }
.fillBar .fa { float: left; font-size: 65px; margin-right: 20px; border-right: 1px solid #ccc; padding-right: 20px; color: #069393; }
.fillBar .numberSearchButton { width: auto; height: auto; line-height: 20px; padding: 9px 10px; background: #069393; color: #fff; border-color: #069393; }
.fillBar .numberSearchButton:active { background: #fff; color: #069393; }

.printBar { padding: 10px; margin: 10px 0; border-bottom: 1px solid #ccc; }

.buttonBar { float: right; }

.recordListShow { padding: 0 10px; margin: 10px 0; }
.recordListShow h3 { font-size: 16px; color: #069393; }
.recordListShow ul { display: table; width: 100%; }
.recordListShow li { display: table-row; }
.recordListShow li:active { background: #cccc99; }
.recordListShow li span { display: table-cell; border-bottom: 1px dashed #ccc; padding: 5px; }
.recordListShow li span:nth-child(1) { width: 50px; text-align: center; }
.recordListShow li span:nth-child(2) { width: 180px; }
.recordListShow .tr span { border-bottom: 1px solid #666; font-weight: bold; }

/*# sourceMappingURL=list.css.map */
