@charset "UTF-8";
@import '../library/style/config2.scss';

$color1: #336666;
$color2: #669999;
$color3: #cccc99;
$color4: #069393;

.outFrame {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.searchBar {
  padding-bottom: 10px;
}

.equipment {
  float: right;
  margin-top: 15px;
}

/* 表格样式 */
.el-table th {
  background: $color2;
  color: #fff;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #e8f9f9;
}

.el-table--striped .el-table__body tr.el-table__row:hover td {
  background: #f6f6d9;
}

.el-table--striped .el-table__body tr.el-table__row.sel td {
  background: #f90;
  color: #fff;
}

/* 详细页面样式 */
#opDetails .dialog-content {
  padding: 10px;
}

.leftList {
  float: left;
  width: 220px;
  height: 100%;
}

.rightPart {
  margin-left: 220px;
  height: 100%;
  padding: 0 0 0 10px;
}

.titleBar {
  line-height: 40px;
  height: 40px;
  border-left: 10px solid $color4;
  h2 {
    font-size: 14px;
    height: 100%;
    font-weight: normal;
    padding-left: 20px;
    background: #f0f0f0;
    margin-right: 45px;
    strong {
      color: $color4;
      margin-left: 10px;
    }
  }
  .closeThis {
    float: right;
    width: 40px;
    font-size: 30px;
    background: #666;
    color: #fff;
    cursor: pointer;
    text-align: center;
    &:hover, &:active {
      background: $color4;
    }
  }
}

/* 布匹概览 */
.clothShow {
  margin-top: 40px;
}

.cloth {
  background: #eee;
  background: #eee repeating-linear-gradient(45deg, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 10px, transparent 0, transparent 20px) repeat-x;
  box-shadow: 0 0 0 1px #ccc inset;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 1;
  .nowBlock {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 1px solid $color4;
    background: #e4ffff;
  }
  .clip {
    position: absolute;
    top: -8px;
    bottom: -8px;
    width: 1px;
    right: 100px;
    background: red;
    background: repeating-linear-gradient(red 0, red 2px, transparent 0, transparent 3px);
    .fa {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%) rotate(-90deg);
      color: red;
      font-size: 16px;
    }
  }
  .flaw {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, .6);
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      top: -5px;
      height: 5px;
      background: #000;
      overflow: hidden;
    }
    &:after {
      content: attr(index);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
      height: 30px;
      line-height: 30px;
      padding: 0 3px;
      background: #000;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
    &:hover:before, &:hover:after {
      background: #f90;
    }
    &[index='1'] {
      right: 120px;
      width: 4px;
    }
    &[index='2'] {
      right: 256px;
      width: 9px;
    }
    &[index='3'] {
      right: 278px;
      width: 2px;
    }
    &[index='4'] {
      right: 330px;
      width: 15px;
    }
  }
}

.ruler {
  height: 10px;
  background: #ccc;
  position: relative;
  z-index: 0;
  span {
    position: absolute;
    top: 18px;
  }
  span:first-child {
    left: 0;
    margin-left: -4px;
  }
  span:last-child {
    right: 0;
    margin-right: -4px;
  }
  &:before {
    content: '';
    position: absolute;
    height: 18px;
    width: 1px;
    left: 0;
    background: #ccc;
  }
  &:after {
    content: '';
    position: absolute;
    height: 18px;
    width: 1px;
    right: 0;
    background: #ccc;
  }
}

.operateShow {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.operate {
  width: 50%;
  height: 100%;
  border: 3px solid $color4;
  padding: 10px;
  float: left;
  .title {
    float: left;
    font-size: 16px;
    padding-top: 4px;
    padding-left: 20px;
    text-align: center;
    width: 100px;
    span {
      display: block;
      margin-bottom: 5px;
    }
    strong {
      display: inline-block;
      background: $color4;
      color: #fff;
      font-weight: normal;
      font-size: 14px;
      text-align: center;
      padding: 5px 10px;
    }
  }
  .cutLength {
    display: block;
    margin-left: 100px;
    font-size: 30px;
    color: #999;
    padding-left: 10%;
    b {
      font-size: 60px;
      color: red;
      margin-right: 5px;
      font-weight: normal;
    }
  }
  .elseInfo {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    .rexTable {
      height: 90px;
      td {
        vertical-align: middle;
      }
      label {
        color: #999;
      }
    }
  }
}

.operateButton {
  float: left;
  width: 50%;
  height: 100%;
  background: #eee;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
  }
}
.buttonList{
  display:inline-block; vertical-align: middle; width:90%; text-align:left;
  .component {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
  .rexButton {
    height: 80px;
    width: 80px;
    padding: 0;
    margin: 5px;
    background: $color1;
    color: #fff;
    border-color: $color1;
    text-align: center;
    span {
      display: block;
      font-size: 16px;
      width: 100%;
    }
    .fa {
      font-size: 40px;
    }
    .fa:before {
      position: static;
    }
  }
}

.elseList{ margin-top:5px; width:100%;}
.flawList{ float:left; width:50%;}
.operateList{ float:left; width:50%;}

/* 检验任务详细 */
#checkMission{
  .dialogFrame{ width:92%;}
  .dialog-title .opBtn{ font-size:28px;}
}
.checkMission{
  padding:10px;
  h3{ font-size:16px; color:$color4; line-height:30px;}
  .baseInfo{
    background: linear-gradient(transparent 29px, #ccc 0, #ccc 30px); background-size:100% 30px; overflow:hidden; margin-bottom:10px;
    li{ float:left; width:25%; min-width:240px; line-height:30px;}
    label{ color:#999; margin-right:5px;}
    .showLength{ width:100%; background:#f2f2f2; border-bottom:1px solid #ccc; text-align:center;}
    .showLength>div{ display:inline-block; width:20%;}
  }
  .bottomPart{
    margin-top:30px;
    h3{ margin-top:-30px;}
  }
  .flawList{
    height:100%; padding-top:30px; padding-right:5px; width:50%; float:left;
  }
  .el-table{ height:100%;}
  .checkOperate{
    float:left; padding-top:30px; padding-left:5px; width:50%;
  }
  .fitLength{
    border:3px solid $color4; text-align:center; padding:10px;
    strong{ font-size:30px; color:red; font-weight:normal;}
  }
  .buttonList{
    margin-top:10px;
    .rexButton{
      margin-left:0; margin-right:10px;
    }
  }

}