@charset "UTF-8";
@import '../library/style/config2.scss';
$disTop:0px;
$disLeft:100px;
$disRight:0px;
$disBottom:0px;

$color1: #336666;
$color2: #669999;
$color3: #cccc99;
$color4: #069393;

/* 后台框架样式 */
.rexSysFrame{
  width:100%; height:100%; overflow:hidden; position:relative;
  .partTop,.partRight,.partBottom,.partLeft{ position:absolute;}
  .partContent{
    width:100%; height:100%; border-width:$disTop $disRight $disBottom $disLeft; border-style:solid; border-color:transparent;
  }
  .partTop{ height:$disTop; top:0; left:0; right:0;
    @if $disTop == 0{
      display:none;
    }
  }
  .partRight{ width:$disRight; right:0; top:0; bottom:0;
    @if $disRight == 0{
      display:none;
    }
  }
  .partBottom{ height:$disBottom; bottom:0; left:0; right:0;
    @if $disBottom == 0{
      display:none;
    }
  }
  .partLeft{ width:$disLeft; left:0; top:0; bottom:0;
    @if $disLeft == 0{
      display:none;
    }
  }
  .partTop, .partBottom{
    &.offset-1{ left:$disLeft;}
    &.md-1{ left:$disLeft; right:$disRight;}
    &.md-2{ right:$disRight;}
    &.offset-1.md-2{ right:0;}
  }
  .partLeft,.partRight{
    &.offset-1{ top:$disTop;}
    &.md-1{ top:$disTop; bottom:$disBottom;}
    &.md-2{ bottom:$disBottom;}
    &.offset-1.md-2{ bottom:0;}
  }
}

.partLeft{
  background:#333;
  h1{
    width:100%; height:120px; background: $color1; font-size:14px; text-align:center; padding-top:15px;
    &:before{ display:inline-block; background: #fff; border-radius:50%; padding:6px; font-size:50px;  transform:rotate(-90deg); color:$color4; padding-bottom:10px;}
    span{ display:block; color:$color3; font-weight:normal; margin-top:5px;}
  }
}

.partContent{
  position:relative;
  .changeButton{ width:60px; line-height:40px; height:40px; text-align:center; background:rgba(255,255,255,.3); color:#fff; position:absolute; left:-60px; bottom:5%; font-size:24px; cursor:pointer; cursor:pointer; border-radius:6px 0 0 6px; z-index: 10;}
  .changeButton:hover, .changeButton:active{ background:$color1; color:#fff;}
  .changeButton:before{ display:inline-block; transform:none; transition:transform .5s;}
}


.hiddenLeft .partLeft{ width:0; overflow:hidden; }
.hiddenLeft .partContent{
  border-left-width:0;
  .changeButton{ left:0; border-radius:0 6px 6px 0; background:#666; color:#fff; opacity:.2;}
  .changeButton:hover, .changeButton:active{ background:$color1; color:#fff; opacity:1;}
  .changeButton:before{ transform:rotate(180deg);}
}

.systemMenu{
  li{ height:100px; color:#fff; padding-top:20px; border-top:1px solid #666; border-bottom:1px solid #000;}
  li:first-child{ border-top:0;}
  li:hover{ background: #666;}
  a{ display:block; height:100%; text-align:center;}
  a:before{ display:inline-block; width:100%; font-size:40px; margin-bottom:5px;}
  li.sel{ background:#fff; color:$color4;}
}

//信息提示弹框
#sysInfo{
  .dialog-content{ padding:15px;}
  .dialog-buttonBar{
    background:#ccc repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 12px, transparent 0, transparent 24px);
    .rexButton{ width:100px;}
  }
  .dialog-title{ font-size:16px;}
  .dialog-title .fa{ font-size:22px;}
  .dialog-title .fa:before{ vertical-align:middle;}
  &.sure .dialog-title{ background:#216cc9; color:#fff;}
}