@charset "UTF-8";
@keyframes focusShow { 0% { transform: translateX(0); }
  12% { transform: translateX(-10px); }
  24% { transform: translateX(10px); }
  36% { transform: translateX(-10px); }
  48% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  72% { transform: translateX(10px); }
  84% { transform: translateX(-10); }
  96% { transform: translateX(10); }
  100% { transform: translateX(0); } }
.occupation { position: absolute; width: 100%; height: calc(100% - 40px); top: 40px; z-index: 30; text-align: center; background-color: #fff; }
.occupation:before { display: inline-block; content: ''; width: 0; height: 100%; vertical-align: middle; }
.occupation .emptyShow { display: inline-block; vertical-align: middle; position: relative; }

.emptyShow > span { display: inline-block; }
.emptyShow .logoSvg { width: 64px; height: 64px; background: url(../logo.svg) no-repeat; background-size: auto 100%; }
.emptyShow .titleSvg { width: 240px; height: 72px; background: url(../logoWord.svg) no-repeat; background-size: auto 100%; }
.emptyShow .ver { font-size: 26px; position: relative; top: -12px; right: -10px; font-weight: bold; }
.emptyShow .page { position: absolute; right: -10px; top: 85px; background: #069393; color: #ffff; padding: 5px 10px; font-size: 20px; }

.main .dialog-title { background: #336666; border-bottom: 0; }
.main .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
.main .dialog-title .opBtn:hover, .main .dialog-title .opBtn:active { color: red; }
.main .dialog-title ul { padding-left: 20px; }
.main .dialog-title li { float: left; line-height: 42px; color: rgba(255, 255, 255, 0.6); margin-right: 15px; }
.main .dialog-title label { color: #fff; }
.main .dialog-title .passStatus { display: block; color: #fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius: 6px; background: #999; }
.main .dialog-title .passStatus.yes { background: green; }
.main .dialog-title .passStatus.no { background: red; }
.main .dialog-content { height: 100%; }

/* 表格样式 */
.el-table th { padding: 6px 0; }
.el-table th:first-child { text-align: center; }
.el-table th:last-child { text-align: center; }
.el-table td { padding: 6px 0; color: #333; }
.el-table td .opButton { font-size: 20px; color: #069393; display: inline-block; padding: 5px; border-radius: 6px; cursor: pointer; }
.el-table td .opButton:hover, .el-table td .el-table td .opButton:active { background: #069393; color: #fff; }
.el-table td .opButton:before { display: inline-block; }
.el-table td .opButton.fa-cut:before { transform: rotate(-90deg); }
.el-table td:first-child { text-align: center; }
.el-table td:last-child { text-align: center; }
.missionList .el-table th:nth-child(2) { text-align: center; }
.missionList .el-table td:nth-child(2) { text-align: center; }
.el-table .cell { padding-left: 3px; padding-right: 3px; }
.el-table .el-checkbox__inner { width: 18px; height: 18px; }
.el-table .el-checkbox__inner::after { left: 6px; top: 3px; }
.el-table .urgent { position: relative; padding-left: 15px; }
.el-table .urgent:before { color: red; font-size: 16px; position: absolute; left: -3px; top: 3px; }
.el-table .positionItem { white-space: nowrap; margin: 0 1px; }
.el-table .positionItem:after { content: ','; }
.el-table .positionItem:last-child:after { content: ''; }
.el-table .datetime { word-break: break-all; line-height: 1.2em; font-size: 12px; }
.el-table .datetime span { white-space: nowrap; margin: 0 1px; }
.el-table .datetime span:after { content: ' '; }
.el-table .datetime span:last-child:after { content: ''; }

.el-pagination { text-align: center; margin-top: 10px; }

.baseInfo { background: linear-gradient(transparent 29px, #ccc 0, #ccc 30px); background-size: 100% 30px; overflow: hidden; margin-bottom: 10px; }
.baseInfo li { float: left; line-height: 30px; padding-right: 20px; }
.baseInfo label { color: #999; }
.baseInfo .showLength { width: 100%; background: #f2f2f2; border-bottom: 1px solid #ccc; text-align: center; }
.baseInfo .showLength > div { display: inline-block; width: 20%; }

.clothShow { margin: 24px 0 32px 0; width: calc(100% - 55px); position: relative; padding-left: 10px; }
.clothShow .changePosition { position: absolute; right: -55px; top: 0; height: 100%; width: 50px; border-radius: 0; }
.clothShow .changePosition .fa:before { font-size: 30px; }

.cloth { box-shadow: 0 0 0 1px #ccc inset; background: #eee; background: #eee repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); width: 100%; height: 50px; position: relative; }
.cloth .flaw { position: absolute; background: #000; top: 0; bottom: 0; transition-property: left,right; transition-duration: 1s; min-width: 1px; }
.cloth .flaw:after { content: attr(index); position: absolute; height: 20px; line-height: 20px; padding: 0 3px; background: #000; color: #fff; top: -21px; left: 50%; transform: translateX(-50%); font-size: 12px; border-radius: 2px; cursor: pointer; }
.cloth .flaw:hover { background: #f90; z-index: 2; }
.cloth .flaw:hover:after { background: #f90; }
.cloth .clip { width: 1px; position: absolute; top: -5px; bottom: -5px; background: red; z-index: 10; transition-property: left,right; transition-duration: 1s; }
.cloth .clip:before, .cloth .clip:after { content: ''; position: absolute; border: 9px solid transparent; width: 0; height: 0; overflow: hidden; left: 50%; transform: translateX(-50%); opacity: .8; }
.cloth .clip:before { border-top-color: red; top: -5px; }
.cloth .clip:after { border-bottom-color: red; bottom: -5px; }
.cloth .cutBlock { position: absolute; top: 1px; bottom: 1px; outline: 1px dashed rgba(0, 0, 0, 0.3); outline-offset: -1px; max-width: 100%; }
.cloth .cutBlock .exceed { position: absolute; left: -20px; width: 40px; height: 100%; border: 1px solid #069393; background: #fff; border-right-style: dashed; }
.cloth .cutBlock .exceed:before { content: ''; position: absolute; width: 100%; height: 14px; top: -14px; background: #fff; border-radius: 50% / 100% 100% 0 0; box-shadow: 0 -1px 0 1px #069393; }
.cloth .cutBlock .exceed:after { content: ''; position: absolute; width: 100%; height: 14px; bottom: -2px; background: #999; border-radius: 50% / 100% 100% 0 0; box-shadow: 0 -1px 0 1px #069393; }
.cloth .cutBlock.sel { outline-color: #f90; background: rgba(255, 153, 0, 0.2); }
.cloth .cutBlock.first { outline-color: #069393; background: #fff repeating-linear-gradient(-45deg, rgba(6, 147, 147, 0.3) 0, rgba(6, 147, 147, 0.3) 10px, transparent 0, transparent 20px); }
.cloth .endShow { position: absolute; z-index: 3; text-shadow: 0 0 2px #fff; top: 50%; transform: translateY(-50%); font-weight: bold; }
.cloth .leftCloth { left: 0; right: 0; color: #069393; text-align: center; line-height: 48px; background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); }
.cloth .qualified { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 16px; background: rgba(255, 255, 255, 0.6); padding: 3px 20px; border-radius: 2px; }
.cloth .qualified.yes { color: green; border: 1px solid green; }
.cloth .qualified.no { color: red; border: 1px solid red; }

.ruler { height: 2px; background: #ccc; position: relative; }
.ruler span { position: absolute; top: 2px; height: 6px; width: 1px; text-align: center; background: #ccc; font-size: 12px; color: #666; }
.ruler span:before { content: attr(pos); position: absolute; top: 10px; left: 50%; transform: translateX(-50%); }

.clothShow.zero .cloth { width: 50%; margin: auto; text-align: center; }
.clothShow.zero .cloth:before { content: '布匹长为零!'; color: red; line-height: 48px; }

.clothShow.zero .ruler { width: 50%; margin: auto; }

.operateShow { width: 100%; height: 80px; overflow: hidden; }

.operate { display: inline-block; min-width: 260px; width: 50%; padding-left: 20px; vertical-align: middle; text-align: center; }
.operate .counter { display: inline-block; position: relative; font-family: arial; color: #3273c3; font-size: 70px; }
.operate .counter:after { content: '米'; position: absolute; top: .6em; left: 100%; font-size: 14px; color: #999; }
.operate .iconShow { font-size: 20px; color: #999; position: absolute; top: .6em; left: -1.2em; }
.operate .nowCut { font-size: 16px; color: #666; position: absolute; bottom: .6em; left: 100%; }
.operate .nowCut:before { content: '/'; margin-right: 3px; }

.inPart { padding: 5px; }

.checkOperate { width: 100%; height: 100px; overflow: hidden; }
.checkOperate .checkOverview { border: 3px solid #069393; height: 100%; width: 50%; float: left; }
.checkOperate .checkOverview:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.checkOperate .inshow { display: inline-block; padding: 10px; vertical-align: middle; }
.checkOperate .inshow > span { display: inline-block; vertical-align: middle; margin-right: 10px; white-space: nowrap; }
.checkOperate .inshow strong { font-size: 20px; color: red; font-weight: normal; }
.checkOperate .operateButton { float: right; }

.doing .dialog-title { background: #669999 linear-gradient(rgba(255, 255, 255, 0.05) 0, transparent 15px); }
.doing .dialog-title h4 { font-size: 16px; color: rgba(255, 255, 255, 0.9); }
.doing .dialog-title h4 .fa { font-size: 22px; vertical-align: middle; margin-right: 5px; }
.doing .dialog-content { padding: 15px; }
.doing .row { padding: 5px; padding-left: 20%; text-align: left; }
.doing label { color: #999; display: inline-block; width: 120px; text-align: right; margin-right: 10px; }
.doing label + span { display: inline-block; padding-left: 5px; }
.doing label + span b { color: red; font-size: 1.4em; }
.doing .inputShow { vertical-align: middle; position: relative; padding-left: 0; }
.doing .inputShow strong { position: absolute; right: 10px; top: 10px; color: #999; font-weight: normal; }
.doing .rexInput { font-size: 1.4em; width: 120px; }
.doing .dialog-buttonBar { background: #8ed2d2 repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 12px, transparent 0, transparent 24px); }
.doing .dialog-buttonBar .rexButton { width: 100px; }
.doing .doingShow span { margin: 10px auto 0 auto; display: inline-block; padding: 8px 5px; border: 1px solid #ccc; text-align: center; min-width: 60%; }
.doing .doingShow .ok { border-color: #66cc66; color: #009900; background: #f2fff2; }
.doing .doingShow .warning { border-color: #ff9900; color: #ff9900; background: #fff8e9; }
.doing .doingShow .error { border-color: #f02a2a; color: #f02a2a; background: #fff4f4; }
.doing .doingShow .loading { border-color: transparent; color: #666; background: transparent; }

#information .dialog-content strong { color: red; }

.defectType label { vertical-align: middle; }
.defectType .itemShow { display: inline-block; vertical-align: middle; max-width: calc(80% - 50px); overflow: hidden; }
.defectType .itemShow span { float: left; margin: 0 5px 5px 0; padding: 8px 14px; border: 1px solid #ccc; border-radius: 4px; }
.defectType .itemShow span.sel { background: #1a59cb; color: #fff; border-color: #1a59cb; }

#printBox .dialog-title { background: #336666; }
#printBox .dialog-title h4 { font-size: 16px; color: #fff; }
#printBox .dialog-title h4 .fa:before { font-size: 22px; vertical-align: middle; }
#printBox .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
#printBox .dialog-title .opBtn:hover, #printBox .dialog-title .opBtn:active { color: red; }
#printBox .dialog-content { padding: 15px; }
#printBox .dialog-content .rexButton { width: 140px; height: 60px; margin: 10px; }
#printBox .dialog-content .rexButton .fa { font-size: 20px; }
#printBox .dialog-content b { color: #f90; font-weight: normal; }

.leftPart { width: 175px; float: left; height: 100%; background: #336666; }
.leftPart .viewList { overflow: auto; height: 100%; }
.leftPart li { padding: 3px 3px 8px 3px; overflow: hidden; font-size: 12px; cursor: pointer; background-color: #069393; color: #fff; border-bottom: 1px solid #336666; }
.leftPart li:hover, .leftPart li:active { background-color: #19bbbb; }
.leftPart strong { line-height: 24px; font-weight: normal; position: relative; padding-left: 10px; }
.leftPart strong:before { color: red; position: absolute; top: 3px; right: -16px; font-size: 14px; }
.leftPart .statusBar { padding-left: 10px; }
.leftPart .statusBar span { display: inline-block; color: rgba(255, 255, 255, 0.8); }
.leftPart .length { background: #f90; margin-left: 5px; }
.leftPart .length:after { content: '米'; }
.leftPart .finished { background: green; }
.leftPart li.freeDo { font-size: 16px; text-align: center; padding: 12px 0; }
.leftPart li.sel { background-color: #fff; border-bottom: 0; }
.leftPart li.sel strong { color: #333; }
.leftPart li.sel span:first-child { color: #666; }
.leftPart li.freeDo.sel { color: #333; }

.rightPart { width: auto; margin-left: 175px; height: 100%; padding: 0 10px 0 10px; }

.leftPart.pinch { width: 20px; }
.leftPart.pinch + .rightPart { margin-left: 20px; }

.status { line-height: 1.8em; padding: 0 0.5em; }
.status:before { color: #fff; }
.status.customer { background: #005be3; }
.status.customer:before { content: '客户订单'; }
.status.flaw { background: #666; }
.status.flaw:before { content: '疵点分裁'; }
.status.normal { background: blue; }
.status.normal:before { content: '分裁入库'; }

.buttonList { display: inline-block; width: 50%; height: 100%; text-align: center; vertical-align: middle; }
.buttonList ul { display: table; width: 100%; height: 100%; }
.buttonList li { display: table-cell; vertical-align: middle; }
.buttonList .rexButton { height: 100%; width: 100%; padding: 0; text-align: center; border-radius: 0; border-left: 1px solid rgba(0, 0, 0, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); }
.buttonList .rexButton span { display: block; font-size: 14px; width: 100%; }
.buttonList .rexButton .fa { font-size: 30px; margin-bottom: 10px; }
.buttonList .rexButton .fa:before { position: static; }

.buttonList.type2 .rexButton { width: 16.5%; }

.elseList { margin-top: 10px; width: 100%; overflow: hidden; height: calc(100% - 240px); }
.elseList h3 { border-bottom: 1px solid #ddd; font-size: 14px; color: #069393; line-height: 24px; }
.elseList ul { width: 100%; overflow: auto; height: calc(100% - 30px); }
.elseList li { border-bottom: 1px dashed #ccc; position: relative; padding: 12px 0; overflow: hidden; }
.elseList li .index { float: left; background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, transparent 16px); line-height: 20px; color: #fff; padding: 0 10px; }
.elseList li .block { background-color: #3050c6; }
.elseList li .point { background-color: #cc1f1f; border-radius: 10px; }
.elseList li .showtext { display: inline-block; font-size: 12px; }
.elseList li label { color: #999; margin-left: 10px; }
.elseList li b { font-size: 14px; color: #069393; font-weight: normal; }
.elseList li.cutRecord { text-align: right; }
.elseList li .datetime { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 45%; min-width: 80px; text-align: left; color: #666; }
.elseList li .op { display: inline-block; max-width: 55%; text-align: left; }
.elseList li .opButton { position: absolute; right: 0; top: 7px; font-size: 30px; line-height: 30px; height: 30px; color: red; width: 30px; border-radius: 6px; text-align: center; cursor: pointer; }
.elseList li .opButton:hover, .elseList li .opButton:active { background: red; color: #fff; }
.elseList li .nodata { display: block; text-align: center; padding: 15px 0; color: #999; }

.flawList { padding-right: 5px; width: 50%; float: left; height: 100%; }

.operateList { padding-left: 5px; width: 50%; float: left; height: 100%; }

/* app样式协调 */
.app .main .dialog-title { background: #fff; z-index: 3; border-bottom: 0; }
.app .main .dialog-title .opBtn { display: none; }
.app .main .dialog-title label { color: #999; }
.app .main .dialog-title span { color: #333; }
.app .main .occupation { height: 100%; top: 0; }
.app .cut > .main .dialog-title:before { content: ''; position: absolute; z-index: 3; height: 42px; width: 175px; background: #3c8dbc; left: 0; top: 0; }
.app .cut > .main .dialog-title ul { padding-left: 185px; }
.app .check > .main .dialog-title ul { padding-left: 10px; }
.app .leftPart { background-color: #3c8dbc; }
.app .leftPart li { background-color: #0056fa; border-bottom: 1px solid #0a45b6; }
.app .leftPart li:hover, .app .leftPart li:active { background-color: #70b7e6; }
.app .leftPart li.sel { background-color: #fff; border-bottom: 0; }
.app .leftPart li.sel strong { color: #333; }
.app .leftPart li.sel span:first-child { color: #666; }
.app .leftPart li.freeDo.sel { color: #333; }
.app .leftPart.pinch { width: 0; }
.app .leftPart.pinch + .rightPart { margin-left: 0; }

/*# sourceMappingURL=operate.css.map */
