@charset "UTF-8";
body { font-size: 16px; }

.occupation { position: absolute; width: 100%; height: 100%; top: 0; z-index: 30; text-align: center; background-color: #fff; }
.occupation:before { display: inline-block; content: ''; width: 0; height: 100%; vertical-align: middle; }
.occupation .emptyShow { display: inline-block; vertical-align: middle; position: relative; }

.emptyShow > span { display: inline-block; }
.emptyShow .logoSvg { width: 64px; height: 64px; background: url(../logo.svg) no-repeat; background-size: auto 100%; }
.emptyShow .titleSvg { width: 240px; height: 72px; background: url(../logoWord.svg) no-repeat; background-size: auto 100%; }
.emptyShow .ver { font-size: 26px; position: relative; top: -12px; right: -10px; font-weight: bold; }
.emptyShow .page { position: absolute; right: -10px; top: 85px; background: #069393; color: #ffff; padding: 5px 10px; font-size: 20px; }

.main .dialog-title { background: #336666; border-bottom: 0; }
.main .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
.main .dialog-title .opBtn:hover, .main .dialog-title .opBtn:active { color: red; }
.main .dialog-title ul { padding-left: 20px; }
.main .dialog-title li { float: left; line-height: 42px; color: rgba(255, 255, 255, 0.6); margin-right: 15px; }
.main .dialog-title label { color: #fff; }
.main .dialog-title .passStatus { display: block; color: #fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius: 6px; background: #999; }
.main .dialog-title .passStatus.yes { background: green; }
.main .dialog-title .passStatus.no { background: red; }
.main .dialog-content { height: 100%; }

.leftPart { width: 225px; float: left; height: 100%; background: #3c8dbc; position: relative; }
.leftPart .count { position: absolute; padding: .5em; background: #085989; color: #fff; left: calc(100% - 5px); bottom: 20px; white-space: nowrap; opacity: .5; }
.leftPart .count:active { opacity: 1; }
.leftPart .viewList { overflow: auto; height: 100%; }
.leftPart li { position: relative; height: 50px; overflow: hidden; font-size: 16px; cursor: pointer; background-color: #0056fa; color: #fff; background: linear-gradient(rgba(255, 255, 255, 0.2), transparent); background-color: #0056fa; border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
.leftPart li:hover, .leftPart li:active { background-color: #19bbbb; }
.leftPart .customer { line-height: 24px; font-weight: normal; position: absolute; left: 5px; top: 4px; }
.leftPart .orderNumber { position: absolute; top: 26px; left: 5px; color: rgba(255, 255, 255, 0.9); font-size: 14px; text-shadow: 0 0 1px black; }
.leftPart .cutLength { font-size: 1.1em; font-weight: bold; position: absolute; top: 20px; right: 3px; color: #ffae35; text-shadow: 0 0 1px black; }
.leftPart li .fa { position: absolute; color: rgba(255, 255, 255, 0.35); font-size: 50px; top: 0; left: 50%; transform: rotate(-20deg); }
.leftPart li.freeDo { text-align: center; padding: 0; line-height: 50px; background-color: transparent; }
.leftPart li.sel { background-color: #fff; border-bottom: 0; color: #3c8dbc; }
.leftPart li.sel .customer { color: #3c8dbc; font-weight: bold; }
.leftPart li.sel .orderNumber { color: #666; text-shadow: none; }
.leftPart li.sel .cutLength { color: red; font-weight: normal; text-shadow: none; }
.leftPart li.sel .cutLength:after { color: #666; }
.leftPart li.sel .fa { color: #ffcda9; }

.rightPart { width: auto; margin-left: 225px; height: 100%; padding: 0 10px 0 10px; }

.leftPart.pinch { width: 0; }
.leftPart.pinch + .rightPart { margin-left: 0px; }

.baseInfo { background: linear-gradient(transparent 33px, #ccc 0, #ccc 34px); background-size: 100% 34px; overflow: hidden; margin-bottom: 10px; }
.baseInfo li { float: left; line-height: 34px; padding-right: 20px; width: 100%; }
.baseInfo label { color: #999; padding-right: 3px; }
.baseInfo li.important label { display: inline-block; line-height: 1; padding: 5px 5px; border-radius: 4px; background-color: red; color: #fff; margin-right: 8px; }
.baseInfo li.important span { color: black; font-weight: bold; }

.clothShow { margin: 24px 0 32px 0; width: calc(100% - 55px); position: relative; padding-left: 10px; }
.clothShow .changePosition { position: absolute; right: -55px; top: 0; height: 100%; width: 50px; border-radius: 0; }
.clothShow .changePosition .fa:before { font-size: 30px; }

.cloth { box-shadow: 0 0 0 1px #ccc inset; background: #eee; background: #eee repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); width: 100%; height: 50px; position: relative; }
.cloth .flaw { position: absolute; background: #000; top: 0; bottom: 0; transition-property: left,right; transition-duration: 1s; min-width: 1px; }
.cloth .flaw:after { content: attr(index); position: absolute; height: 20px; line-height: 20px; padding: 0 3px; background: #000; color: #fff; top: -21px; left: 50%; transform: translateX(-50%); font-size: 12px; border-radius: 2px; cursor: pointer; }
.cloth .flaw:hover { background: #f90; z-index: 2; }
.cloth .flaw:hover:after { background: #f90; }
.cloth .clip { width: 1px; position: absolute; top: -5px; bottom: -5px; background: red; z-index: 10; transition-property: left,right; transition-duration: 1s; }
.cloth .clip:before, .cloth .clip:after { content: ''; position: absolute; border: 9px solid transparent; width: 0; height: 0; overflow: hidden; left: 50%; transform: translateX(-50%); opacity: .8; }
.cloth .clip:before { border-top-color: red; top: -5px; }
.cloth .clip:after { border-bottom-color: red; bottom: -5px; }
.cloth .cutBlock { position: absolute; top: 1px; bottom: 1px; outline: 1px dashed rgba(0, 0, 0, 0.3); outline-offset: -1px; max-width: 100%; }
.cloth .cutBlock .exceed { position: absolute; left: -10px; width: 40px; height: 100%; border: 1px solid #069393; background: #fff; border-right-style: dashed; }
.cloth .cutBlock .exceed:before { content: ''; position: absolute; width: 100%; height: 14px; top: -14px; background: #fff; border-radius: 50% / 100% 100% 0 0; box-shadow: 0 -1px 0 1px #069393; }
.cloth .cutBlock .exceed:after { content: ''; position: absolute; width: 100%; height: 14px; bottom: -2px; background: #999; border-radius: 50% / 100% 100% 0 0; box-shadow: 0 -1px 0 1px #069393; }
.cloth .cutBlock.sel { outline-color: #f90; background: rgba(255, 153, 0, 0.2); }
.cloth .cutBlock.first { outline-color: #069393; background: #fff repeating-linear-gradient(-45deg, rgba(6, 147, 147, 0.3) 0, rgba(6, 147, 147, 0.3) 10px, transparent 0, transparent 20px); }
.cloth .endShow { position: absolute; z-index: 3; text-shadow: 0 0 2px #fff; top: 50%; transform: translateY(-50%); font-weight: bold; }
.cloth .leftCloth { left: 0; right: 0; color: #069393; text-align: center; line-height: 48px; background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.6) 10px, transparent 0, transparent 20px); }
.cloth .qualified { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 16px; background: rgba(255, 255, 255, 0.6); padding: 3px 20px; border-radius: 2px; }
.cloth .qualified.yes { color: green; border: 1px solid green; }
.cloth .qualified.no { color: red; border: 1px solid red; }

.ruler { height: 2px; background: #ccc; position: relative; }
.ruler span { position: absolute; top: 2px; height: 6px; width: 1px; text-align: center; background: #ccc; font-size: 12px; color: #666; }
.ruler span:before { content: attr(pos); position: absolute; top: 10px; left: 50%; transform: translateX(-50%); }

.clothShow.zero .cloth { width: 50%; margin: auto; text-align: center; }
.clothShow.zero .cloth:before { content: '布匹长为零!'; color: red; line-height: 48px; }

.clothShow.zero .ruler { width: 50%; margin: auto; }

.operateShow { width: 100%; height: 100px; overflow: hidden; }

.operate { float: left; width: 38%; height: 100%; position: relative; }
.operate .fa { position: absolute; top: 15px; left: 0; font-size: 50px; color: #666; opacity: .4; transform: rotate(85deg); }
.operate .textShow { position: absolute; width: 100%; top: 50%; transform: translateY(-50%); white-space: nowrap; text-align: center; }
.operate strong { display: inline-block; font-weight: normal; white-space: nowrap; }
.operate .real { font-size: 50px; line-height: 100px; }
.operate .real:hover { color: red; }
.operate .assist { padding-left: 5px; line-height: 50px; font-size: 24px; color: #3c8dbc; }
.operate .assist:hover { color: #f90; }

.buttonList { float: left; width: 62%; height: 100%; text-align: center; vertical-align: middle; }
.buttonList ul { display: table; width: 100%; height: 100%; }
.buttonList li { display: table-cell; vertical-align: middle; }
.buttonList .rexButton { height: 100%; width: 100%; padding: 0; text-align: center; border-radius: 0; border-left: 1px solid rgba(0, 0, 0, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); }
.buttonList .rexButton span { display: block; width: 100%; }
.buttonList .rexButton .fa { font-size: 34px; margin-bottom: 10px; }
.buttonList .rexButton .fa:before { position: static; }

.buttonList.type2 .rexButton { width: 16.5%; }

.doing .dialog-title { background: #669999 linear-gradient(rgba(255, 255, 255, 0.05) 0, transparent 15px); }
.doing .dialog-title h4 { font-size: 16px; color: rgba(255, 255, 255, 0.9); }
.doing .dialog-title h4 .fa { font-size: 22px; vertical-align: middle; margin-right: 5px; }
.doing .dialog-content { padding: 15px; }
.doing .row { padding: 5px; padding-left: 20%; text-align: left; }
.doing label { color: #999; display: inline-block; width: 120px; text-align: right; margin-right: 10px; }
.doing label + span { display: inline-block; padding-left: 5px; }
.doing label + span b { color: red; font-size: 1.4em; }
.doing .inputShow { vertical-align: middle; position: relative; padding-left: 0; }
.doing .inputShow strong { position: absolute; right: 10px; top: 10px; color: #999; font-weight: normal; }
.doing .rexInput { font-size: 1.4em; width: 120px; }
.doing .dialog-buttonBar { background: #8ed2d2 repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 12px, transparent 0, transparent 24px); }
.doing .dialog-buttonBar .rexButton { width: 100px; }
.doing .doingShow span { margin: 10px auto 0 auto; display: inline-block; padding: 8px 5px; border: 1px solid #ccc; text-align: center; min-width: 60%; }
.doing .doingShow .ok { border-color: #66cc66; color: #009900; background: #f2fff2; }
.doing .doingShow .warning { border-color: #ff9900; color: #ff9900; background: #fff8e9; }
.doing .doingShow .error { border-color: #f02a2a; color: #f02a2a; background: #fff4f4; }
.doing .doingShow .loading { border-color: transparent; color: #666; background: transparent; }

#information .dialog-content strong { color: red; }

.defectType label { vertical-align: middle; }
.defectType .itemShow { display: inline-block; vertical-align: middle; max-width: calc(80% - 50px); overflow: hidden; }
.defectType .itemShow span { float: left; margin: 0 5px 5px 0; padding: 8px 14px; border: 1px solid #ccc; border-radius: 4px; }
.defectType .itemShow span.sel { background: #1a59cb; color: #fff; border-color: #1a59cb; }

#printBox .dialog-title { background: #336666; }
#printBox .dialog-title h4 { font-size: 16px; color: #fff; }
#printBox .dialog-title h4 .fa:before { font-size: 22px; vertical-align: middle; }
#printBox .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
#printBox .dialog-title .opBtn:hover, #printBox .dialog-title .opBtn:active { color: red; }
#printBox .dialog-content { padding: 15px; }
#printBox .dialog-content .rexButton { width: 140px; height: 60px; margin: 10px; }
#printBox .dialog-content .rexButton .fa { font-size: 20px; }
#printBox .dialog-content b { color: #f90; font-weight: normal; }

#cutCloth .dialog-title { background: #669999 linear-gradient(rgba(255, 255, 255, 0.05) 0, transparent 15px); }
#cutCloth .dialog-title h4 { font-size: 16px; color: rgba(255, 255, 255, 0.9); }
#cutCloth .dialog-title h4 .fa { font-size: 22px; vertical-align: middle; margin-right: 5px; }
#cutCloth .dialog-buttonBar { background: #8ed2d2 repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 12px, transparent 0, transparent 24px); }
#cutCloth .dialog-buttonBar .rexButton { width: 100px; }
#cutCloth .dialog-content { padding: 15px; }

.status { line-height: 1.8em; padding: 0 0.5em; }
.status:before { color: #fff; }
.status.customer { background: #005be3; }
.status.customer:before { content: '客户订单'; }
.status.flaw { background: #666; }
.status.flaw:before { content: '疵点分裁'; }
.status.normal { background: blue; }
.status.normal:before { content: '分裁入库'; }

.elseList { margin-top: 20px; width: 100%; overflow: hidden; height: calc(100% - 340px); }
.elseList h3 { border-bottom: 1px solid #3c8dbc; font-weight: normal; font-size: 16px; color: #fff; line-height: 36px; width: 100%; background: linear-gradient(65deg, #3c8dbc 0, #3c8dbc 105px, transparent 0, transparent 100%); position: relative; }
.elseList h3:before { margin-right: 8px; margin-left: 10px; }
.elseList h3 button { position: absolute; top: 0; right: 0; }
.elseList ul { width: 100%; overflow: auto; height: calc(100% - 30px); }
.elseList li { border-bottom: 1px dashed #ccc; position: relative; padding: 12px 0; overflow: hidden; }
.elseList li .index { float: left; background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, transparent 16px); line-height: 20px; color: #fff; padding: 0 10px; }
.elseList li .block { background-color: #3050c6; }
.elseList li .point { background-color: #cc1f1f; border-radius: 10px; }
.elseList li .showtext { display: inline-block; }
.elseList li label { color: #999; margin-left: 10px; }
.elseList li b { color: #069393; font-weight: normal; }
.elseList li.cutRecord { text-align: right; }
.elseList li .datetime { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 45%; min-width: 80px; text-align: left; color: #666; }
.elseList li .op { display: inline-block; max-width: 55%; text-align: left; }
.elseList li .opButton { position: absolute; right: 0; top: 7px; font-size: 30px; line-height: 30px; height: 30px; color: red; width: 30px; border-radius: 6px; text-align: center; cursor: pointer; }
.elseList li .opButton:hover, .elseList li .opButton:active { background: red; color: #fff; }
.elseList li .nodata { display: block; text-align: center; padding: 15px 0; color: #999; }

.flawList { padding-right: 5px; width: 40%; float: left; height: 100%; }

.operateList { padding-left: 5px; width: 60%; float: left; height: 100%; }

/*# sourceMappingURL=operate.css.map */
