@charset "UTF-8";
@import '../library/style/config2.scss';

$color5:#3c8dbc;
$color6:#0056fa;
$leftSide:290px;

body{ font-size:16px;}
//遮盖层，用于缓解vue在初始加载中的第一视觉混乱的情况
.occupation{
  position:absolute; width:100%; height:100%; top:0; z-index: 30; text-align:center; background-color:#fff;
  &:before{ display:inline-block; content:''; width:0; height:100%; vertical-align: middle;}
  .emptyShow{ display:inline-block; vertical-align:middle; position:relative;}
}
.emptyShow{
  &>span{ display:inline-block;}
  .logoSvg{ width:64px; height:64px; background:url(../logo.svg) no-repeat; background-size: auto 100%;}
  .titleSvg{ width:240px; height:72px; background:url(../logoWord.svg) no-repeat; background-size: auto 100%;}
  .ver{ font-size:26px; position:relative; top:-12px; right:-10px; font-weight:bold;}
  .page{ position:absolute; right:-10px; top:85px; background:$color4; color:#ffff; padding:5px 10px; font-size:20px; }
}

.main{
  .dialog-title{
    background:$color1; border-bottom:0;
    .opBtn{
      font-size:28px; color:$color3;
      &:hover,&:active{ color:red;}
    }
    ul{ padding-left:20px;}
    li{ float:left; line-height:42px; color:rgba(255,255,255,.6); margin-right:15px;}
    label{ color:#fff;}
    .passStatus{
      display:block; color:#fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius:6px; background:#999;
      &.yes{ background:green;}
      &.no{ background:red;}
    }
  }
  .dialog-content{ height:100%;}
}


.leftPart{
  width:$leftSide; float:left; height:100%; background:$color5; position:relative;
  .count{ position:absolute; padding:.5em; background:#085989; color:#fff; left:calc(100% - 5px); bottom:20px; white-space: nowrap; opacity:.5;}
  .count:active{ opacity:1;}
  .viewList{ overflow:auto; height:100%;}
  li{ position:relative; height:60px; overflow:hidden; font-size:16px; cursor:pointer; background-color:$color6; color:#fff; background:linear-gradient(rgba(255,255,255,.2),transparent); background-color:$color6; border-bottom:1px solid rgba(0,0,0,.3);}
  li:hover, li:active{ background-color:#19bbbb;}
  .customer{ line-height:24px; font-weight:normal; position:absolute; left:5px; top:6px;}
  .customer strong{ font-size:14px; font-weight:normal; margin-left:5px; background-color:#0e3e9a; padding:1px 2px;}
  .orderNumber{ position:absolute; top:31px; left:5px; color:rgba(255,255,255,.8); font-size:16px; text-shadow:0 0 1px rgba(0,0,0,1);}
  .orderNumber strong{ font-weight:normal; color:#fff;}
  .cutLength{ font-size:1.2em; font-weight:bold; position:absolute; top:26px; right:6px; color:#ffae35; text-shadow:0 0 1px rgba(0,0,0,1);}
  li .fa{ position:absolute; color:rgba(255,255,255,.35); font-size:50px; top:4px; left:68%; transform:rotate(-20deg);}
  li.freeDo{ text-align:center; height:50px; padding:0; line-height:50px; background-color:transparent;}
  li.sel{
    background-color:#fff; border-bottom:0; color:$color5;
    .customer{ color:$color5; font-weight:bold;}
    .customer strong{ background-color:#eee;}
    .orderNumber{ color:#666; text-shadow:none;}
    .orderNumber strong{ color:#000;}
    .cutLength{ color:red; font-weight:normal; text-shadow:none;}
    .cutLength:after{ color:#666;}
    .fa{ color:#ffcda9;}
  }
}
.rightPart{ width:auto; margin-left:$leftSide; height:100%; padding:0 10px 0 10px;}
.leftPart.pinch{
  width:0;
  & + .rightPart{ margin-left:0px;}
}

//基础信息展示
.baseInfo{
  background: linear-gradient(transparent 33px, #ccc 0, #ccc 34px); background-size:100% 34px; overflow:hidden; margin-bottom:10px;
  li{ float:left; line-height:34px; padding-right:20px; width:100%;}
  label{ color:#999; padding-right:3px;}
  li.important{
    label{ display:inline-block; line-height:1; padding:5px 5px; border-radius:$borderRadius; background-color:red; color:#fff; margin-right:8px;}
    span{ color:black; font-weight:bold;}
  }
}

//布匹概览
.clothShow{
  /*margin:24px 0 32px 0; width:calc(100% - 55px); position:relative; padding-left:10px;*/
  margin:24px 0 32px 0; width:100%; position:relative; padding-left:10px;
  .changePosition{
    position:absolute; right:-55px; top:0; height:100%; width:50px; border-radius:0;
    & .fa:before{ font-size:30px;}
  }
}
.cloth{
  box-shadow:0 0 0 1px #ccc inset; background:#eee; background:#eee repeating-linear-gradient(45deg, rgba(255,255,255,.6) 0, rgba(255,255,255,.6) 10px, transparent 0, transparent 20px); width:100%; height:50px; position:relative;
  .flaw{ position:absolute; background:#000; top:0; bottom:0; transition-property:left,right; transition-duration:1s; min-width:1px;}
  .flaw:after{ content:attr(index); position:absolute; height:20px; line-height:20px; padding:0 3px; background:#000; color:#fff; top:-21px; left:50%; transform: translateX(-50%); font-size:12px; border-radius:2px; cursor:pointer;}
  .flaw:hover{ background:#f90; z-index:2;}
  .flaw:hover:after{ background:#f90;}
  .clip{ width:1px; position:absolute; top:-5px; bottom:-5px; background:red; z-index:10; transition-property: left,right; transition-duration: 1s;}
  .clip:before, .clip:after{ content:''; position:absolute; border:9px solid transparent; width:0; height:0; overflow:hidden; left:50%; transform:translateX(-50%); opacity:.8;}
  .clip:before{ border-top-color:red; top:-5px;}
  .clip:after{ border-bottom-color:red; bottom:-5px;}
  .cutBlock{
    position:absolute; top:1px; bottom:1px; outline:1px dashed rgba(0,0,0,.3); outline-offset:-1px; max-width:100%;
    .exceed{ position:absolute; left:-10px; width:40px; height:100%; border:1px solid $color4; background:#fff; border-right-style:dashed;}
    .exceed:before{ content:''; position:absolute; width:100%; height:14px; top:-14px; background:#fff; border-radius:50% / 100% 100% 0 0; box-shadow:0 -1px 0 1px $color4;}
    .exceed:after{ content:''; position:absolute; width:100%; height:14px; bottom:-2px; background:#999; border-radius:50% / 100% 100% 0 0; box-shadow:0 -1px 0 1px $color4;}
  }
  .cutBlock.sel{ outline-color:#f90; background:rgba(255,153,0,.2);}
  .cutBlock.first{ outline-color:$color4; background:#fff repeating-linear-gradient(-45deg, rgba(6,147,147,.3) 0, rgba(6,147,147,.3) 10px, transparent 0, transparent 20px);}
  .endShow{ position:absolute; z-index:3; text-shadow:0 0 2px #fff; top:50%; transform:translateY(-50%); font-weight:bold;}
  //剩余布料
  .leftCloth{ left:0; right:0; color:$color4; text-align:center; line-height:48px; background:repeating-linear-gradient(-45deg, rgba(255,255,255,.6) 0, rgba(255,255,255,.6) 10px, transparent 0, transparent 20px);}
  //合格标记
  .qualified{
    position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); font-size:16px; background:rgba(255,255,255,.6); padding:3px 20px; border-radius:2px;
    &.yes{ color:green; border:1px solid green;}
    &.no{ color:red; border:1px solid red;}
  }
}
.ruler{
  height:2px; background:#ccc; position:relative;
  span{ position:absolute; top:2px; height:6px; width:1px; text-align:center; background:#ccc; font-size:12px; color:#666;}
  span:before{ content:attr(pos); position:absolute; top:10px; left:50%; transform:translateX(-50%);}
}
.clothShow.zero .cloth{
  width:50%; margin:auto; text-align:center;
  &:before{ content:'布匹长为零!'; color:red; line-height:48px;}
}
.clothShow.zero .ruler{ width:50%; margin:auto;}

//米数显示及操作行
.operateShow { width: 100%; height:100px; overflow: hidden;}
.operate {
  float:left; width:38%; height:100%; position:relative;
  .fa{ position:absolute; top:15px; left:0; font-size:50px; color:#666; opacity:.4; transform:rotate(85deg);}
  .textShow{ position:absolute; width:100%; top:50%; transform:translateY(-50%); white-space: nowrap; text-align:center;}
  strong{ display:inline-block; font-weight:normal; white-space: nowrap;}
  .real{ font-size:50px; line-height:100px;}
  .real:hover{ color:red;}
  .assist{ padding-left:5px; line-height:50px; font-size:24px; color:$color5;}
  .assist:hover{ color:#f90;}
}
.buttonList{
  float:left; width:62%; height:100%; text-align:center; vertical-align: middle;
  ul{ display:table; width:100%; height:100%;}
  li{ display:table-cell; vertical-align: middle;}
  .rexButton {
    height: 100%; width:100%; padding:0; text-align: center; border-radius:0; border-left:1px solid rgba(0,0,0,.3); border-right:1px solid rgba(255,255,255,.3);
    span {
      display: block;  width: 100%;
    }
    .fa {
      font-size: 34px; margin-bottom:10px;
    }
    .fa:before {
      position: static;
    }
  }
}
.buttonList.type2 .rexButton{ width:16.5%;}


//操作弹框
.doing{
  .dialog-title{
    background:$color2 linear-gradient(rgba(255,255,255,.05) 0, transparent 15px);
    h4{ font-size:16px; color:rgba(255,255,255,.9);}
    h4 .fa{ font-size:22px; vertical-align:middle; margin-right:5px;}
  }
  .dialog-content{ padding:15px; }
  .row{ padding:5px; padding-left:20%; text-align:left;}
  label{ color:#999; display:inline-block; width:120px; text-align:right; margin-right:10px;}
  label+span{
    display:inline-block; padding-left:5px;
    b{ color:red; font-size:1.4em;}
  }
  .inputShow{
    vertical-align: middle; position:relative; padding-left:0;
    strong{ position:absolute; right:10px; top:10px; color:#999; font-weight:normal;}
  }
  .rexInput{ font-size:1.4em; width:120px;}
  .dialog-buttonBar{
    background:#8ed2d2 repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 12px, transparent 0, transparent 24px);
    .rexButton{ width:100px;}
  }
  .doingShow span{ margin:10px auto 0 auto; display:inline-block; padding:8px 5px; border:1px solid #ccc; text-align:center; min-width:60%;}
  .doingShow .ok{ border-color:#66cc66; color:#009900; background:#f2fff2;}
  .doingShow .warning{ border-color:#ff9900; color:#ff9900; background:#fff8e9;}
  .doingShow .error{ border-color:#f02a2a; color:#f02a2a; background:#fff4f4;}
  .doingShow .loading{ border-color:transparent; color:#666; background:transparent;}
}
#information .dialog-content strong{ color:red;}
//疵点分类
.defectType{
  label{ vertical-align:middle;}
  .itemShow{
    display:inline-block; vertical-align:middle; max-width:calc(80% - 50px); overflow:hidden;
    span{ float:left; margin:0 5px 5px 0; padding:8px 14px; border:1px solid #ccc; border-radius:$borderRadius;}
    span.sel{ background:#1a59cb; color:#fff; border-color:#1a59cb;}
  }
}

//标签打印
#printBox{
  .dialog-title{
    background:$color1;
    h4{
      font-size:16px; color:#fff;
      .fa:before{ font-size:22px; vertical-align:middle;}
    }
    .opBtn{
      font-size:28px; color:$color3;
      &:hover,&:active{ color:red;}
    }
  }
  .dialog-content{
    padding:15px;
    .rexButton{
      width:140px; height:60px; margin:10px;
      .fa{ font-size:20px;}
    }
    b{ color:#f90; font-weight:normal;}
  }
}

//布段分裁的弹框
#cutCloth{
  .dialog-title{
    background:$color2 linear-gradient(rgba(255,255,255,.05) 0, transparent 15px);
    h4{ font-size:16px; color:rgba(255,255,255,.9);}
    h4 .fa{ font-size:22px; vertical-align:middle; margin-right:5px;}
  }
  .dialog-buttonBar{
    background:#8ed2d2 repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 12px, transparent 0, transparent 24px);
    .rexButton{ width:100px;}
  }
  .dialog-content{
    padding:15px;

  }
}

//裁剪端分类
.status{
  line-height:1.8em; padding:0 0.5em;
  &:before{ color:#fff;}
  &.customer{
    background:#005be3;
    &:before{ content:'客户订单';}
  }
  &.flaw{
    background:#666;
    &:before{ content:'疵点分裁';}
  }
  &.normal{
    background:blue;
    &:before{ content:'分裁入库';}
  }
}


.elseList{
  margin-top:20px; width:100%; overflow:hidden; height:calc(100% - 340px);
  h3{ border-bottom:1px solid #3c8dbc; font-weight:normal; font-size:16px; color:#fff; line-height:36px; width:100%; background:linear-gradient(65deg, #3c8dbc 0, #3c8dbc 105px, transparent 0, transparent 100%); position:relative;}
  h3:before{ margin-right:8px; margin-left:10px;}
  h3 button{ position:absolute; top:0; right:0;}
  ul{ width:100%; overflow:auto; height:calc(100% - 30px);}
  li{
    border-bottom:1px dashed #ccc; position:relative; padding:12px 0; overflow:hidden;
    .index{ float:left; background-image:linear-gradient(rgba(255,255,255,.2) 0, transparent 16px); line-height:20px; color:#fff; padding:0 10px;}
    .block{ background-color:#3050c6;}
    .point{ background-color:#cc1f1f; border-radius:10px;}
    .showtext{ display:inline-block;}
    label{ color:#999; margin-left:10px;}
    b{ color:$color4; font-weight:normal;}
    &.cutRecord{ text-align:right;}
    .datetime{ position:absolute; left:0; top:50%; transform:translateY(-50%); width:45%; min-width:80px; text-align:left; color:#666;}
    .op{ display:inline-block; max-width:55%; text-align:left;}
    .opButton{ position:absolute; right:0; top:7px; font-size:30px; line-height:30px; height:30px; color:red; width:30px; border-radius:6px; text-align: center; cursor:pointer;}
    .opButton:hover, .opButton:active{ background:red; color:#fff;}
    .nodata{ display:block; text-align:center; padding:15px 0; color:#999;}
  }
}
.flawList{ padding-right:5px; width:40%; float:left; height:100%;}
.operateList{ padding-left:5px; width:60%; float:left; height:100%;}