@charset "UTF-8";
.listContent { height: 100%; }

/* 表格样式 */
.el-table th { padding: 6px 0; }
.el-table th:first-child { text-align: center; }
.el-table th:last-child { text-align: center; }
.el-table td { padding: 6px 0; color: #333; }
.el-table td .opButton { font-size: 20px; color: #069393; display: inline-block; padding: 5px; border-radius: 6px; cursor: pointer; }
.el-table td .opButton:hover, .el-table td .el-table td .opButton:active { background: #069393; color: #fff; }
.el-table td .opButton:before { display: inline-block; }
.el-table td .opButton.fa-cut:before { transform: rotate(-90deg); }
.el-table td:first-child { text-align: center; }
.el-table td:last-child { text-align: center; }
.missionList .el-table th:nth-child(2) { text-align: center; }
.missionList .el-table td:nth-child(2) { text-align: center; }
.el-table .cell { padding-left: 3px; padding-right: 3px; }
.el-table .el-checkbox__inner { width: 18px; height: 18px; }
.el-table .el-checkbox__inner::after { left: 6px; top: 3px; }
.el-table .urgent { position: relative; padding-left: 15px; }
.el-table .urgent:before { color: red; font-size: 16px; position: absolute; left: -3px; top: 3px; }
.el-table .positionItem { white-space: nowrap; margin: 0 1px; }
.el-table .positionItem:after { content: ','; }
.el-table .positionItem:last-child:after { content: ''; }
.el-table .datetime { word-break: break-all; line-height: 1.2em; font-size: 12px; }
.el-table .datetime span { white-space: nowrap; margin: 0 1px; }
.el-table .datetime span:after { content: ' '; }
.el-table .datetime span:last-child:after { content: ''; }

.el-pagination { text-align: center; margin-top: 10px; }

.mydetails .dialogFrame { box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.mydetails .dialog-title { background: #336666; border-bottom: 0; }
.mydetails .dialog-title .opBtn { font-size: 28px; color: #cccc99; }
.mydetails .dialog-title .opBtn:hover, .mydetails .dialog-title .opBtn:active { color: red; }
.mydetails .dialog-title ul { padding-left: 20px; }
.mydetails .dialog-title li { float: left; line-height: 42px; color: rgba(255, 255, 255, 0.6); margin-right: 15px; }
.mydetails .dialog-title label { color: #fff; }
.mydetails .dialog-title .passStatus { display: block; color: #fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius: 6px; background: #999; }
.mydetails .dialog-title .passStatus.yes { background: green; }
.mydetails .dialog-title .passStatus.no { background: red; }
.mydetails.extMenu .dialogFrame { height: 100%; }
.appShow .mydetails.extMenu .dialogFrame { height: 100%; }

.printBar { padding: 10px; margin: 10px 0; border-bottom: 1px solid #ccc; }
.printBar b { color: #f90; }

.buttonBar { float: right; }

.recordListShow { padding: 0 10px; margin: 10px 0; }
.recordListShow h3 { font-size: 16px; color: #069393; }
.recordListShow ul { display: table; width: 100%; }
.recordListShow li { display: table-row; }
.recordListShow li:active { background: #cccc99; }
.recordListShow li span { display: table-cell; border-bottom: 1px dashed #ccc; padding: 5px; }
.recordListShow li span:nth-child(1) { width: 50px; text-align: center; }
.recordListShow li span:nth-child(2) { width: 180px; }
.recordListShow .tr span { border-bottom: 1px solid #666; font-weight: bold; }

/*# sourceMappingURL=record.css.map */
