@charset "UTF-8";
@import '../library/style/config2.scss';

body{ font-size:16px;}
.listContent{ height:100%;}

/* 表格样式 */
.el-table{
  font-size:1em;
  th{
    padding:6px 0;
    &:first-child{ text-align:center;}
    &:last-child{ text-align:center;}
  }
  td{
    padding:6px 0; color:#333;
    //末尾操作按钮样式
    .opButton{ color:$color4; display:inline-block; padding:5px; border-radius:6px; cursor:pointer;}
    .opButton:hover, .el-table td .opButton:active{ background:$color4; color:#fff;}
    .opButton:before{ display:inline-block; font-size:20px;}
    .opButton.fa-cut:before{ transform:rotate(-90deg);}
    //内容列对齐
    &:first-child{ text-align:center;}
    &:last-child{ text-align:center;}
    .optype:before{ width:20px; text-align:left;}
    .optype.fa-instagram:before{ color:#0a45b6;}
    .optype.fa-thumb-tack:before{ color:red;}
    .optype.fa-cut:before{ color:green;}
  }
  .missionList & th:nth-child(2){ text-align:center;}
  .missionList & td:nth-child(2){ text-align:center;}

  .cell{ padding-left:3px; padding-right:3px;}    //单元格通用
  .el-checkbox__inner{ width:18px; height:18px;}  //多选框
  .el-checkbox__inner::after{ left:6px; top:3px;}

  .urgent{  //加急标记
    position:relative; padding-left:15px;
    &:before{
      color:red; font-size:16px; position:absolute; left:-3px; top:3px;
    }
  }

  //仓库位置
  .positionItem{
    white-space: nowrap; margin:0 1px;
    &:after{ content:',';}
    &:last-child:after{ content:'';}
  }

  //日期时间
  .datetime{
    word-break: break-all; line-height:1.2em;
    span{
      white-space: nowrap; margin:0 1px;
      &:after{ content:' ';}
      &:last-child:after{ content:'';}
    }
  }
}

//分页显示
.el-pagination{ text-align: center; margin-top:10px;}