@charset "UTF-8";
@import '../library/style/config2.scss';
body{ font-size:16px;}
//遮盖层，用于缓解vue在初始加载中的第一视觉混乱的情况
.occupation{
  position:absolute; width:100%; height:calc(100% - 40px); top:40px; z-index: 30; text-align:center; background-color:#fff;
  &:before{ display:inline-block; content:''; width:0; height:100%; vertical-align: middle;}
  .emptyShow{
    display:inline-block; vertical-align:middle; position:relative;
  }
}
.emptyShow{
  &>span{ display:inline-block;}
  .logoSvg{ width:64px; height:64px; background:url(../logo.svg) no-repeat; background-size: auto 100%;}
  .titleSvg{ width:240px; height:72px; background:url(../logoWord.svg) no-repeat; background-size: auto 100%;}
  .ver{ font-size:26px; position:relative; top:-12px; right:-10px; font-weight:bold;}
  .page{ position:absolute; right:-10px; top:85px; background:$color4; color:#ffff; padding:5px 10px; font-size:20px; }
}

.printBar{
  padding:10px; margin:10px 0; background-color:#f2f2f2;
  b{ color:#f90;}
  h3{ font-size:16px; color:$color4; float:left; margin-right:60px; line-height:40px;}
}
.buttonBar{ float:right;}
.recordListShow{
  padding:0 10px; height:calc(100% - 150px); overflow:auto;
  ul{ display:table; width:100%; border-collapse: collapse; border-spacing: 0;}
  li:nth-child(odd){
    span{ background:#e7f5ff;}
  }
  li{
    display:table-row;
    span{ display:table-cell; border-bottom:1px dashed #ccc; padding:5px;}
    &:active span{background:$color3;}
    span:nth-child(1){ width:50px; text-align:center;}
    span:nth-child(2){ width:180px;}

    span.fa:before{ width:20px; text-align:left;}
    span.fa-instagram:before{ color:#0a45b6;}
    span.fa-thumb-tack:before{ color:red;}
    span.fa-cut:before{ color:green;}
  }
  .th{
    &:active span,span{ background:#c5e8ff; color:#0c5a8d; font-size:16px; border-bottom:1px solid #2d8bc9; padding:8px 5px;}
  }
}

.main{
  .dialog-title{
    background:$color1; border-bottom:0;
    .opBtn{
      font-size:28px; color:$color3;
      &:hover,&:active{ color:red;}
    }
    ul{ padding-left:20px;}
    li{ float:left; line-height:42px; color:rgba(255,255,255,.6); margin-right:15px;}
    label{ color:#fff;}
    .passStatus{
      display:block; color:#fff; line-height: 30px; margin-top: 6px; padding: 0 10px; border-radius:6px; background:#999;
      &.yes{ background:green;}
      &.no{ background:red;}
    }
  }
  .dialog-content{ height:100%;}
}

/* 布匹基本信息 */
.baseInfo{
  width:100%; padding:10px 10px; overflow:hidden;
  .title{ float:left; margin-top:4px; margin-right:20px;  background:url(/logo.svg) no-repeat left center; background-size: auto 90%; line-height:50px; padding-left:52px; font-size:20px; color:#3c8dbc;}
  .buttonBar{
    float:right; margin-top:5px; font-size:16px;
    .fa{ margin-right:10px;}
    b{ color:#f90;}
  }
  ul{
    width:100%; clear:both; border:1px dashed #f90; padding:5px 10px; overflow:hidden; background-color:#fff1ef;
    li{ float:left; color:#000; margin-right:20px;}
    li>label{ color:#999;}
    .clearLeft{ clear:left;}
  }
}
h3{ text-align:center; color:#666; padding-bottom:5px;}
/* app样式协调 */
.app{
  .main{
    .dialog-title{
      background:#fff; z-index:3; border-bottom:0;
      ul{ text-align:center;}
      li{ float:none; display:inline-block;}
      .opBtn{ display:none;}
      label{ color:#999;}
      span{ color:#333;}
    }
    .occupation{ height:100%; top:0;}
  }
}